<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="AC01140P">
	<!-- modal -->
	<div id="modal-AC01140P" class="modal fade" role="dialog" aria-labelledby="lb-ac01140p" aria-hidden="true" style="z-index: 1060;">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header metis-modal-header">
					<h4 class="modal-title">금융상품분류찾기</h4>
					<div class="col-sm-1 text-right">
                   		<button type="button" class="btn btn-default" onclick="modalClose_AC01140P();"><i class="fa fa-times"></i></button>
                   	</div>
				</div>
				<div class="modal-body">
					<input type="hidden" name="prefix" id="prefix" value=""/>
					<div class="row">
						<div class="col-sm-12 b-r">
							 <div class="ibox ">
				    			<div class="ibox-content">
				    				<div class="tableFixHead">
					    				<table class="table table-bordered">
											<thead>
												<tr>
													<th>투자상품대분류</th>
													<th>중분류</th>
													<th>소분류</th>
												</tr>
											</thead>
											<tbody id="AC01140P_tbody">
											</tbody>
										</table>
									</div>
				    			</div>
				    		</div><!-- ibox -->
						</div>
					</div>
				</div> 
			</div><!-- end of modal_content -->
		</div>
	</div>
</th:block>
</html>