<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMapper">

    <sql id="commonDto">
       , rgst_dt                       <!-- 등록일자 -->
       , rgst_tm                       <!-- 등록시간 -->
       , rgst_p_eno                    <!-- 등록자사번 -->
       , hndl_dy_tm                    <!-- 처리일시 -->
       , hndl_dprt_cd                  <!-- 처리부점코드 -->
       , hndl_p_eno                    <!-- 처리자사번 --> 
    </sql>

    <sql id="selectCommonDto">
           , NVL(rgst_dt, '') AS rgst_dt           				<!-- 등록일자 -->
           , NVL(rgst_tm, '') AS rgst_tm           				<!-- 등록시간 -->
           , NVL((SELECT 
		               EMP_NM
		   	           FROM RAA99A							
			      WHERE ENO = A.RGST_P_ENO), '') AS RGST_P_ENO	<!-- 등록자사번 -->
           <include refid="CommonMapper.selectHndlDto" />
    </sql>
    
    <sql id="selectHndlDto">
           , NVL(TO_CHAR(hndl_dy_tm, 'YYYY-MM-DD HH24:MI:SS'), '') AS hndl_dy_tm	<!-- 처리일시 -->
           , NVL(hndl_dprt_cd, '') AS hndl_dprt_cd     							<!-- 처리부점코드 -->
	       , NVL((SELECT EMP_NM
                         FROM RAA99A
			          WHERE ENO = A.HNDL_P_ENO), '') AS HNDL_P_ENO     				<!-- 처리자사번 -->
    </sql>

</mapper>