<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="footerFragment">
    <!-- <div class="footer">
        <div>
            <strong>Copyright 나누리아이티<img alt="image"  class="rounded-circle" src="images/nanuriit.png" /> &copy;
                2024</strong>
        </div>
    </div> -->
    <div class="footer">
            <strong>Copyright 나누리아이티<img alt="image"  class="rounded-circle" src="images/nanuriit.png" /> &copy;
                2024</strong>
    </div>
</th:block>

</html>