<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{/js/business/ac/AC01010S.js}"></script>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 공통코드관리 -->
    <div class="wrapper wrapper-content animated fadeIn">
    	<div class="row">
    		<!-- 조회영역 -->
    		<div class="col-lg-12">
    			<div class="ibox ">
   					<div class="ibox-title">
	   					<div class="form-group row form-inline">
	   						<div class="col-sm-3 input-group">
	                            <label class="control-label px-2">코드구분</label>
	                           	<select class="form-control m-b" id="commonCodeInfo">
	                            </select>
	                           </div>
	                           <div class="col-sm-1">
								<button class="btn btn-primary" type="button" id="commonCodeSearch"><i class="fa fa-search"></i>&nbsp;조회</button>
	                       	</div>
	   					</div>
	   				</div>
	   				<!-- 조회결과 -->
	   				<div class="ibox-content" style="min-height: 850px">
	   					<div class="col-sm-12">
	    					<div class="ibox ">
			   					<div class="ibox-title">
			   						<h5>그룹코드</h5>
			   						<div class="ibox-tools">		                       		
			                       		<button class="btn btn-default btn-xs" type="button" onclick="addGroupCodeRow();"><i class="fa fa-plus"></i>&nbsp;행추가</button>
			                       		<button class="btn btn-default btn-xs" type="button" onclick="deleteGroupCodeRow();"><i class="fa fa-minus"></i>&nbsp;행삭제</button>
			                       		<button class="btn btn-success btn-xs" type="button" onclick="clickSaveGroupCode();"><i class="fa fa-save"></i>&nbsp;저장</button>
			                       	</div>
			   					</div>
			    				<div class="ibox-content">
			    					<div class="tableFixHead">
					    				<table class="table table-bordered text-center">
					    					<colgroup>
							                    <col style="width: 5%;">
							                    <col style="width: 7%;">
							                    <col style="width: 10%;">
							                    <col style="width: 15%;">
							                    <col style="width: 7%;">
							                    <col style="width: 7%;">
							                    <col style="width: 7%;">
							                    <col style="width: 7%;">
							                    <col style="width: 7%;">
							                    <col style="width: 10%;">
							                    <col style="width: 7%;">
							                </colgroup>
											<thead>
												<tr>
							                        <th>삭제</th>
							                        <th>그룹코드</th>
							                        <th>그룹명</th>
							                        <th>설명</th>
							                        <th>코드성격</th>
							                        <th>코드길이</th>
							                        <th>사용여부</th>
							                        <th>코드관리</th>
							                        <th>등록일</th>
							                        <th>처리일시</th>
							                        <th>처리자</th>
							                    </tr>
											</thead>
											<tbody id="groupCodeListTable">
											</tbody>
										</table>
									</div>
				    			</div>
			   				</div>
			   				<!-- ibox -->
			   				<div class="ibox ">
			   					<div class="ibox-title">
			   						<h5>상세코드</h5>
			   						<div class="ibox-tools">		                       		
			                       		<button class="btn btn-default btn-xs" type="button" onclick="addCodeRow();"><i class="fa fa-plus"></i>&nbsp;행추가</button>
			                       		<button class="btn btn-default btn-xs" type="button" onclick="deleteCodeRow();"><i class="fa fa-minus"></i>&nbsp;행삭제</button>
			                       		<button class="btn btn-success btn-xs" type="button" onclick="clickSaveCode();"><i class="fa fa-save"></i>&nbsp;저장</button>
			                       	</div>
			   					</div>
			    				<div class="ibox-content">
			    					<div class="tableFixHead">
					    				<table class="table table-bordered text-center">
					    					<colgroup>
							                    <col style="width: 5%;">
							                    <col style="width: 10%;">
							                    <col style="width: 27%;">
							                    <col style="width: 10%;">
							                    <col style="width: 7%;">
							                    <col style="width: 7%;">
							                    <col style="width: 10%;">
							                    <col style="width: 7%;">
							                    <col style="width: 10%;">
							                    <col style="width: 7%;">
							                </colgroup>
											<thead>
												<tr>
							                        <th>삭제</th>
							                        <th>코드</th>
							                        <th>코드명</th>
							                        <th>변환후코드</th>
							                        <th>순서</th>
							                        <th>사용여부</th>
							                        <th>등록일</th>
							                        <th>등록자</th>
							                        <th>처리일시</th>
							                        <th>처리자</th>
							                    </tr>
											</thead>
											<tbody id="codeListTable">
											</tbody>
										</table>
									</div>
				    			</div>
			   				</div><!-- ibox -->
	    				</div>
	   				</div>
    			</div>
    		</div>
    	</div>
    </div>
</th:block>

</html>