<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
   <script th:src="@{js/common.js}"></script>
   <script th:src="@{js/business/as/AS03010S.js}"></script>
   <script th:src="@{js/business/popup/AC01120P.js}"></script>
   <script th:src="@{js/business/popup/AS03010P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
   <th:block th:replace="business/popup/AC01120P :: AC01120P"></th:block>
   <th:block th:replace="business/popup/AS03010P :: AS03010P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
   <!-- 심사안건조회 및 배정 -->
   <div class="wrapper wrapper-content animated fadeIn">
      <div class="row">
         <div class="col-lg-12">
            <div class="ibox ">
               <!-- 조회조건영역 -->
               <div class="ibox-content mb-2 text-right">
                  <form method="get">
                     <div class="form-group form-inline row">
                        <!-- 버튼영역 -->
                        <div class="col-sm-12 text-right mb-1">
                           <button class="btn btn-primary" type="button" onclick="checkDealSearch();">
                              <i class="fa fa-search"></i>&nbsp;조회
                           </button>
                        </div>
                        <!-- 1 -->
                        <div class="form-group col-sm-12 mb-1">
                           <label class="col-sm-1 control-label">
                              <span class="req"></span>DSC일자
                           </label>
                           <div class="col-sm-3 input-group date">
                              <div class="col-sm-5 input-group date px-0">
                                 <input type="text" class="form-control" id="AS03010S_FromDate" name="FromDate" value="" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
                                 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              </div>
                              <span class="input-group-addon border-none"> ~ </span>
                              <div class="col-sm-5 input-group date px-0">
                                 <input type="text" class="form-control" id="AS03010S_ToDate" name="ToDate" value="" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
                                 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              </div>
                           </div>
                           <label class="col-sm-1 control-label">부서</label>
                           <div class="col-sm-1 input-group">
                              <select class="form-control" id="AS03010S_dprtCd">
                              </select>
                           </div>
                           <label class="col-sm-1 control-label">통화</label>
                           <div class="col-sm-2 input-group">
                              <select class="form-control" id="AS03010S_invstCrncyCd">
                              </select>
                           </div>
                           <label class="col-sm-1 control-label">단위</label>
                           <div class="col-sm-2 input-group">
                              <select class="form-control" id="AS03010S_wonAmtCd">
                                 <option value="">전체</option>
                                 <option value="1">원</option>
                                 <option value="2">천원</option>
                                 <option value="3">백만원</option>
                                 <option value="4">천만원</option>
                                 <option value="5">억원</option>
                              </select>
                           </div>
                        </div>
                        <!-- 2 -->
                        <div class="form-group col-sm-12 mb-1">
                           <label class="col-sm-1 control-label">Deal명</label>
                           <div class="col-sm-2 input-group">
                              <input type="hidden" id="dealNo" name="dealNo">
                              <input type="text" class="form-control" id="AS03010S_ibDealNm" name="dealNm">
                              <input type="hidden" id="AS03010S_riskInspctCcd" name="riskInspctCcd">
                              <input type="hidden" id="AS03010S_lstCCaseCcd" name="lstccaseCcd">
                           </div>
                           <div class="col-sm-9"></div>
                        </div>
                        <!-- hiddenInfo -->
                        <div class="hiddenInfo">
                           <input type="hidden" id="AS03010S_selectedDealNo" />
                        </div>
                     </div>
                  </form>
               </div>

               <!-- 조회결과 -->
               <div class="ibox-content">
                  <div class="tableFixHeader2">
                     <table class="table result table-bordered" style="width: 180%">
                        <thead>
                           <tr>
                              <th>Deal번호</th>
                              <th>DSC일자</th>
                              <th>Deal명</th>
                              <th>참여금액</th>
                              <th>기표일(예정)</th>
                              <th>만기일(예정)</th>
                              <th>본부</th>
                              <th>부서</th>
                              <th>직원</th>
                              <th>진행상태</th>
                              <th>전체수익</th>
                              <th>수수료수익</th>
                              <th>투자수익</th>
                              <th>업체명</th>
                              <th>신용등급</th>
                              <th>상품1</th>
                              <th>상품2</th>
                              <th>상품3</th>
                              <th>상품4</th>
                              <th>투자국가</th>
                              <th>투자통화</th>
                              <th>부의통화금액</th>
                           </tr>
                        </thead>
                        <tbody id="AS03010S_checkDealList">
                        </tbody>
                     </table>
                  </div>
                  <div class="col-lg-12 mt-2">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="ibox">
                              <div class="ibox-title">
                                 <h5>Key정보</h5>
                              </div>
                              <div class="ibox-content text-right">
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Deal번호</label>
                                    <div class="col-sm-8"><input type="text" id="AS03010S_detail_ibDealNo" class="form-control" readonly>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">신규/재부의정보</label>
                                    <div class="col-sm-8"><input type="text" id="AS03010S_detail_riskInspctCcd" class="form-control" readonly>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">부수안건정보</label>
                                    <div class="col-sm-8"><input type="text" id="AS03010S_detail_lstCCaseCcd" class="form-control" readonly>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Deal명</label>
                                    <div class="col-sm-8"><input type="text" id="AS03010S_detail_ibDealNm" class="form-control" readonly>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
      
                        <div class="col-lg-3">
                           <div class="ibox">
                              <div class="ibox-title">
                                 <h5>거래담당</h5>
                              </div>
                              <div class="ibox-content text-right">
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">본부</label>
                                    <div class="col-sm-8"><input type="text" id="AS03010S_detail_hdqtCd" class="form-control" readonly>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">부서</label>
                                    <div class="col-sm-8"><input type="text" id="AS03010S_detail_dprtCd" class="form-control" readonly>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">직원</label>
                                    <div class="col-sm-8"><input type="text" id="AS03010S_detail_chrgPEno" class="form-control" readonly>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">진행상태</label>
                                    <div class="col-sm-8"><input type="text" id="AS03010S_detail_inspctPrgrsStCd" class="form-control" readonly>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3">
                           <div class="ibox">
                              <div class="ibox-title">
                                 <h5>심사역</h5>
                              </div>
                              <div class="ibox-content text-right">
                                 <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">심사역</label>
                                    <div class="col-sm-8">
                                       <div class="input-group">
                                          <input type="hidden" id="asmt_eno" name="asmt_eno">
                                          <input type="text" class="form-control" id="asmt_empNm" name="asmt_empNm" readonly>
                                          <span class="input-group-append">
                                             <button type="button" class="btn btn-default" onclick="callAC01120P('asmt')"><i class="fa fa-search"></i></button>
                                          </span>
                                       </div>
                                    </div>
                                    <label class="col-sm-4 col-form-label">전결협의체&nbsp;<a onclick="callAS03010P('AS03010S');"><i class="fa fa-question-circle"></i></a></label>
                                    <div class="col-sm-8 mt-1">
                                       <select class="form-control" name="account" id="AS03010S_inspctCnfrncCcd">
                                       </select>
                                    </div>
      
                                    <label class="col-sm-4 col-form-label">접수배정일</label>
                                    <div class="col-sm-6 input-group date mb-1">
                                       <input type="text" class="form-control" value="" id="AS03010S_fstRgstDt" oninput="this.value = this.value.replace(/[^0-9-]/g, '')"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 text-right">
                        <button class="btn btn-success" type="submit" onclick="receiptDeal();"><i class="fa fa-check"></i>&nbsp;접수</button>
                        <button class="btn btn-danger" type="submit" onclick="returnDeal();"><i class="fa fa-undo"></i>&nbsp;반송</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</th:block>

</html>