<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="script">
	<script th:src="@{/js/business/AC01130P.js}"></script>
</th:block>

<th:block th:fragment="AS04120P">
	<!-- modal -->
	<div id="AS04120P" class="modal_wrap">
		<div class="modal_content">
			<span class="modal_close modal_close_AS04120P">&times;</span>
			<div class="wrap">
				<div class="main">
					<main>
						<div class="main_wrap">
							<div class="main_container error_container">
								<div style="font-size: 20px; font-weight: bold;">안건정보 조회</div>
								<div style="float: right;">
									<button type="button">조회</button>
									<button type="button">보내기</button>
								</div>
								<div class="search_wrap">
									<table class="search_table search_top">
										<colgroup>
											<col style="width: 15%;">
											<col>
										</colgroup>
										<tr>
											<th>접수배정일</th>
											<td>
												<div class="datepicker_wrap">
													<input type="text" class="datepicker" id="datepicker5">~
													<input type="text" class="datepicker" id="datepicker6">
												</div>
											</td>
										</tr>
									</table>
								</div><!-- end of search_wrap -->
								<div style="font-weight: bold; font-size: 17px; padding-bottom: 5px; overflow-x: scroll;">안건목록</div>
								<div class="contents_box">
									<table class="table_header">
										<colgroup>
											<col>
											<col>
											<col>
											<col>
											<col>
											<col>
											<col>
											<col>
										</colgroup>
										<thead>
											<tr>
												<th>Deal 번호</th>
												<th>안건명</th>
												<th>신규/재부의정보</th>
												<th>부수안건정보</th>
												<th>전결항목</th>
												<th>투자기간(개월)</th>
												<th>부의예정일</th>
												<th>전결협의체</th>
											</tr>
										</thead>
									</table>
									<div class="grid_wrap grid_wrapS">
										<form>
											<table>
												<colgroup>
													<col>
													<col>
													<col>
													<col>
													<col>
													<col>
													<col>
													<col>
												</colgroup>
												<tbody>
													<tr>
														<td>1</td>
														<td>2</td>
														<td>3</td>
														<td>4</td>
														<td>5</td>
														<td>6</td>
														<td>7</td>
														<td>8</td>
													</tr>
												</tbody>
											</table>
										</form>
									</div>
									<div style="font-size: 15px;">에러
										<div>
											에러메세지
										</div>
									</div>
								</div><!-- end of contents_box -->
							</div><!-- end of main container -->
						</div><!-- end of main_wrap -->
					</main>
				</div><!-- end of main -->
			</div><!-- end of wrap -->
		</div><!-- end of modal_content -->
	</div><!-- end of modal -->
	<!-- modal -->
</th:block>

</html>