<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/as/AS05010S.js}"></script>
	<script th:src="@{js/business/popup/AS02020P.js}"></script>
	<script th:src="@{js/business/popup/AC01120P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/popup/AS02020P :: AS02020P"></th:block>
	<th:block th:replace="business/popup/AC01120P :: AC01120P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 안건진행정보관리 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<!-- 조회조건영역 -->
					<div class="ibox-title text-right">
						<!-- HiddenInfo -->
						<div class="hiddenInfo">
							<input type="hidden" id="AS05010S_selectedDealNo">
							<input type="hidden" id="AS05010S_riskInspctCcd">
							<input type="hidden" id="AS05010S_lstCCaseCcd"> 
							<input type="hidden" id="AS05010S_inspctPrgrsStCd">
							<!-- 셀다운의무 SQ -->
							<input type="hidden" id="Tab3_ItemSq" value="0">
							<!-- 기타의무 SQ -->
							<input type="hidden" id="Tab4_ItemSq" value="0">
							<!-- 관리직원 SQ -->
							<input type="hidden" id="Tab5_ItemSq" value="0">
						</div>
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">Deal번호</label>
							<div class="col-sm-2">
								<div class="input-group">
									<input type="text" class="form-control" id="AS05010S_ibDealNo" readonly>
									<span class="input-group-append">
										<button type="button" id="open_modal_AS02020P" class="btn btn-default" onclick="callAS02020P('AS05010S');">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<button class="btn btn-primary" type="button" onclick="getDealList();">
									<i class="fa fa-search"></i>&nbsp;조회
								</button>
							</div>
						</div>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-content">
						<div class="tableFixHeader2">
							<table class="table result table-bordered table-hover" id="caseActive">
								<thead>
									<tr>
										<th>Deal번호</th>
										<th>안건명</th>
										<th>신규/재부의정보</th>
										<th>심사역</th>
										<th>부수안건정보</th>
										<th>심사진행상태코드</th>
									</tr>
								</thead>
								<tbody id="AS05010S_ibDealList">
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- tab -->
				<div class="tabs-container">
					<ul class="nav nav-tabs" role="tablist" id="ramsTab">
						<li><a class="nav-link" data-toggle="tab" href="#tab-1">약정/기표/철회</a></li>
						<li><a class="nav-link" data-toggle="tab" href="#tab-2">EXIT</a></li>
						<li><a class="nav-link" data-toggle="tab" href="#tab-3">셀다운의무</a></li>
						<li><a class="nav-link" data-toggle="tab" href="#tab-4">기타의무</a></li>
						<li><a class="nav-link" data-toggle="tab" href="#tab-5">관리직원</a></li>
					</ul>
					<div class="tab-content">
						<!-- 약정/기표/철회 -->
						<div role="tabpanel" id="tab-1" class="tab-pane active">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-4">
										<div class="ibox">
											<div class="ibox-title">
												<h5>약정정보</h5>
											</div>
											<div class="ibox-content text-right">
												<div class="form-group row mb-1">
													<label class="col-sm-4 col-form-label">약정일</label>
													<div class="col-sm-5 input-group date">
														<input type="text" class="form-control" value="" id="agrDt" placeholder="yyyy-mm-dd">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">약정금액</label>
													<div class="col-sm-8">
														<input type="text" class="form-control text-right" id="agrAmt" onkeyup="inputNumberFormat(this);">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">문서번호</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" id="caseRaDocNo">
														<input type="hidden" id="caseRaDocCcd" value="3">
														<input type="hidden" id="itemSq" value="0">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="ibox">
											<div class="ibox-title">
												<h5>기표/인가정보</h5>
											</div>
											<div class="ibox-content text-right">
												<div class="form-group row mb-1">
													<label class="col-sm-4 col-form-label">기표일</label>
													<div class="col-sm-6 input-group date">
														<input type="text" class="form-control" value="" id="wrtDt" disabled>
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
													</div>
												</div>
												<div class="form-group row mb-1">
													<label class="col-sm-4 col-form-label">만기일</label>
													<div class="col-sm-6 input-group date">
														<input type="text" class="form-control" value="" id="mtrtDt" disabled>
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">기표금액</label>
													<div class="col-sm-5">
														<input type="text" class="form-control text-right" id="cshNtrAstsWrtAmt" onkeyup="inputNumberFormat(this);">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="ibox">
											<div class="ibox-title">
												<h5>진행구분</h5>
											</div>
											<div class="ibox-content text-right">
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">구분</label>
													<div class="col-sm-8">
														<select class="form-control" name="account" id="AS05010S_inspctCnclHndlCcd">
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">사유</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" id="nhndlRsnCntnt">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12 text-right">
										<!-- <button class="btn btn-default" onclick="tab1Reset();"><i class="fa fa-undo"></i>&nbsp;초기화</button> -->
										<button class="btn btn-danger" onclick="tab1Delete();">
											<i class="fa fa-eraser"></i>&nbsp;삭제
										</button>
										<button class="btn btn-success" onclick="tab1Save();">
											<i class="fa fa-save"></i>&nbsp;저장
										</button>
										<button class="btn btn-success btn-outline" type="button" id="agrInspctPrgrsStCd" onclick="updateInspctPrgrsStCd('500');">
											<i class="fa fa-check"></i>&nbsp;약정
										</button>
									</div>
								</div>
							</div>
						</div>
						<!-- EXIT -->
						<div role="tabpanel" id="tab-2" class="tab-pane">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-4">
										<div class="ibox">
											<div class="ibox-title">
												<h5>EXIT정보</h5>
											</div>
											<div class="ibox-content text-right">
												<div class="form-group row mb-1">
													<label class="col-sm-4 col-form-label">EXIT날짜</label>
													<div class="col-sm-5 input-group date">
														<input type="text" class="form-control" value="" id="endDt" placeholder="yyyy-mm-dd">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">사유</label>
													<div class="col-sm-5">
														<select class="form-control" name="account" id="AS05010S_optnlEndCcd">
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">문서번호</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" id="exitRaDocNo">
														<input type="hidden" id="exitRaDocCcd" value="2">
														<input type="hidden" id="itemSq" value="0">
													</div>
												</div>
												<div class="form-group row mb-2">
													<div class="col-sm-12 text-right">
														<!-- <button class="btn btn-default" onclick="tab2Reset();"><i class="fa fa-undo"></i>&nbsp;초기화</button> -->
														<button class="btn btn-danger" onclick="tab2Delete();">
															<i class="fa fa-eraser"></i>&nbsp;삭제
														</button>
														<button class="btn btn-success" onclick="tab2Save();">
															<i class="fa fa-save"></i>&nbsp;저장
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 셀다운의무 -->
						<div role="tabpanel" id="tab-3" class="tab-pane">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<div class="ibox">
											<div class="ibox-title">
												<h5>의무정보</h5>
											</div>
											<div class="ibox-content">
												<table class="table table-bordered table-hover" id="selldownActive">
													<thead>
														<tr>
															<th>NO</th>
															<th>의무금액</th>
															<th>적용기한일</th>
															<th>해소일</th>
															<th>해소금액</th>
															<th>미해소잔액</th>
														</tr>
													</thead>
													<tbody id="SellDown_List">
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- 입력 영역 -->
									<div class="col-lg-6">
										<div class="ibox-content">
											<div class="input-group row text-right">
												<label class="col-sm-2 col-form-label">의무금액</label>
												<div class="col-sm-4">
													<input type="text" class="form-control text-right" id="oblgAmt" onkeyup="inputNumberFormat(this);">
												</div>
												<label class="col-sm-2 col-form-label">해소일</label>
												<div class="col-sm-4 input-group date">
													<input type="text" class="form-control" value="" placeholder="yyyy-mm-dd" id="rpyDt">
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
											</div>
											<div class="input-group row text-right">
												<label class="col-sm-2 col-form-label">적용기한일</label>
												<div class="col-sm-4 input-group date">
													<input type="text" class="form-control" value="" placeholder="yyyy-mm-dd" id="aplcEndDtDt">
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
												<label class="col-sm-2 col-form-label">해소금액</label>
												<div class="col-sm-4">
													<input type="text" class="form-control text-right" id="rpyAmt" onkeyup="inputNumberFormat(this);">
												</div>
											</div>
											<div class="input-group row text-right">
												<div class="col-sm-6"></div>
												<label class="col-sm-2 col-form-label">미해소잔액</label>
												<div class="col-sm-4">
													<input type="text" class="form-control text-right" id="unpayAmt" disabled>
												</div>
											</div>
											<div class="input-group row text-right">
												<div class="col-sm-12">
													<button class="btn btn-default" onclick="tab3Reset();">
														<i class="fa fa-undo"></i>&nbsp;초기화
													</button>
													<button class="btn btn-danger" onclick="tab3Delete();">
														<i class="fa fa-eraser"></i>&nbsp;삭제
													</button>
													<button class="btn btn-success" onclick="tab3Save();">
														<i class="fa fa-save"></i>&nbsp;저장
													</button>
												</div>
											</div>
										</div>
										<!-- /ibox-content -->
									</div>
									<!-- /col-lg-6 -->
								</div>
								<!-- /row -->
							</div>
						</div>
						<!-- 기타의무 -->
						<div role="tabpanel" id="tab-4" class="tab-pane">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<table class="table table-bordered table-hover" id="etcActive">
											<thead>
												<tr>
													<th>NO</th>
													<th>의무내용</th>
													<th>적용기한일</th>
													<th>해소일</th>
													<th>해소여부</th>
												</tr>
											</thead>
											<tbody id="Etc_List">
											</tbody>
										</table>
									</div>
									<div class="col-lg-4">
										<div class="ibox">
											<div class="ibox-content text-right">
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">의무내용</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" id="etcOblgCntnt">
													</div>
												</div>
												<div class="form-group row mb-1">
													<label class="col-sm-4 col-form-label">적용기한일</label>
													<div class="col-sm-4 input-group date">
														<input type="text" class="form-control" value="" id="etcAplcEndDtDt">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">해소여부</label>
													<div class="col-sm-4">
														<select class="form-control" name="account" id="rpyF">
															<option value="Y">Y</option>
															<option value="N">N</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">해소일</label>
													<div class="col-sm-4 input-group date">
														<input type="text" class="form-control" id="EctRpyDt">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
													</div>
												</div>
												<div class="form-group row my-2">
													<div class="col-sm-12 text-right">
														<button class="btn btn-default" onclick="tab4Reset();">
															<i class="fa fa-undo"></i>&nbsp;초기화
														</button>
														<button class="btn btn-danger" onclick="tab4Delete();">
															<i class="fa fa-eraser"></i>&nbsp;삭제
														</button>
														<button class="btn btn-success" onclick="tab4Save();">
															<i class="fa fa-save"></i>&nbsp;저장
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 관리직원 -->
						<div role="tabpanel" id="tab-5" class="tab-pane">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<table class="table table-bordered table-hover" id="enoActive">
											<thead>
												<tr>
													<th>NO</th>
													<th>사번</th>
													<th>성명</th>
													<th>변경일</th>
													<th>변경사유</th>
												</tr>
											</thead>
											<tbody id="Eno_List">

											</tbody>
										</table>
									</div>
									<div class="col-lg-4">
										<div class="ibox">
											<div class="ibox-content text-right">
												<div class="form-group row mb-1">
													<label class="col-sm-4 col-form-label">직원명</label>
													<div class="col-sm-4">
														<div class="input-group">
															<input type="text" class="form-control" id="tab5_empNm" name="tab5_empNm">
															<span class="input-group-append">
																<button type="button" class="btn btn-default" onclick="callAC01120P('tab5')">
																	<i class="fa fa-search"></i>
																</button>
															</span>
															<input type="hidden" id="tab5_eno">
														</div>
													</div>
												</div>
												<div class="form-group row mb-1" id="data_1">
													<label class="col-sm-4 col-form-label">변경일</label>
													<div class="col-sm-4 input-group date">
														<input type="text" class="form-control" value="" id="uptDt">
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 col-form-label">변경사유</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" id="uptRsnCntnt">
													</div>
												</div>
												<div class="form-group row mb-2">
													<div class="col-sm-12 text-right">
														<button class="btn btn-default" onclick="tab5Reset();">
															<i class="fa fa-undo"></i>&nbsp;초기화
														</button>
														<button class="btn btn-danger" onclick="tab5Delete();">
															<i class="fa fa-eraser"></i>&nbsp;삭제
														</button>
														<button class="btn btn-success" onclick="tab5Save();">
															<i class="fa fa-save"></i>&nbsp;저장
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- div row -->
	</div>
</th:block>

</html>