<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block th:fragment="TB02020P">
    <!-- modal -->
    <div
      id="modal-TB02020P"
      class="modal fade"
      role="dialog"
      aria-labelledby="lb-TB02020P"
    >
      <div class="modal-dialog modal-l" role="document">
        <div class="modal-content">
          <div class="modal-header metis-modal-header">
            <h4 class="modal-title">결재 단계 변경</h4>
            <div class="col-sm-1 text-right">
              <button
                type="button"
                class="btn btn-default"
                onclick="modalClose_TB02020P();"
              >
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <input type="hidden" name="prefix" id="TB02020P_prefix" value="" />
            <div class="row">
              <div class="col-sm-12 b-r">
                <div class="ibox">
                  <div class="ibox-content text-right">
                    <!-- row1 -->
                    <div class="row">
                      <div class="col-sm-11">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">부서</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" oninput=""></div>
                        </div>
                      </div>
                      <div class="col-sm-11">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">업무구분</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" oninput=""></div>
                        </div>
                      </div>
                      <div class="col-sm-11">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">현재 결재 단계</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" oninput=""></div>
                        </div>
                      </div>
                      <div class="col-sm-11">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">변경 결재 단계</label>
                          <div class="col-sm-8 input-group">
                            <select class="form-control" style="width: 30px;" name="" id="">
                              <option value="">선택</option>
                            </select>                             
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row px-1">
					    				<div class="col-sm-12 text-right">
					    					<button class="btn btn-success" type="button" onclick="">저장</button>
					    				</div>
					    			</div>
                  </div>
                </div>
                <!-- ibox -->
              </div>
            </div>
          </div>
        </div>
        <!-- end of modal_content -->
      </div>
    </div>
  </th:block>
</html>
