<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/tb/TB03040S.js}"></script>
	<script th:src="@{js/business/tb/TB03021P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB03021P :: TB03021P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 사업정보조회 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<!-- 조회조건영역 -->
					<div class="ibox-content text-right i-filter">
						<form method="get">
							<div class="form-group form-inline row mb-0">
								<div class="col-sm-12 text-right"></div>
								<div class="form-group col-sm-12">
									<label class="col-sm-1 col-form-label">Deal생성일자</label>
									<div class="col-sm-3 input-group">
										<div class="col-sm-5 input-group date px-0">
											<input type="text" class="form-control" id="TB03040S_fromDate" name="FromDate" value="" maxlength="10">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
										<span class="input-group-addon border-none"> ~ </span>
										<div class="col-sm-5 input-group date px-0">
											<input type="text" class="form-control" id="TB03040S_toDate" name="ToDate" value="" maxlength="10">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
									<label class="col-sm-1 col-form-label">Deal명</label>
									<div class="col-sm-4 input-group">
										<div class="input-group">
											<input type="text" class="form-control" id="TB03040S_ibDealNo">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" onclick="callTB03021P('TB03040S');"><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" id="TB03040S_ibDealNm" style="width: 210px;" readonly>
										</div>
									</div>
									<!-- 버튼영역 -->
									<div class="col-sm-3 text-left">
										<button class="btn btn-primary" type="button" onclick="TB03040Sjs.ibSpecSearch();"><i class="fa fa-search"></i>&nbsp;조회</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-content" style="min-height: 830px">
						<div class="ibox">
							<div id="TB03040S_gridDealList"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>