<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="TB04012P">
	<!-- modal -->
	<div id="modal-TB04012P" class="modal fade" role="dialog" aria-labelledby="lb-TB04012p" aria-hidden="true" style="z-index: 1070;">
		<div class="modal-dialog modal-None" role="document">
			<div class="modal-content">
				<div class="modal-header metis-modal-header">
					<h4 class="modal-title">◎ 관리점</h4>
					<div class="col-sm-1 text-right">
						<button type="button" class="btn btn-default" onclick="modalClose_TB04012P();">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="modal-body">
					<input type="hidden" name="TB04012P_prefix" id="TB04012P_prefix" value="" />
					<div class="row">
						<div class="col-sm-12 b-r">
							<div class="ibox">
								<div class="col-sm-12">
									<div class="ibox">
										<div class="ibox-content text-right">
											<div class="form-group row mb-1">
												<label class="col-sm-2 col-form-label">관리점1</label>
												<div class="col-sm-10 form-inline">
													<div class="input-group">
														<input type="text" class="form-control" id="TB04012P_dlDprtCd1_dlDprtCd" readonly>
														&nbsp;
														<input type="text" class="form-control" id="TB04012P_dlDprtCd1_dlDprtNm" readonly>
														&nbsp;
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick="callTB03022P('TB04012P1');"><i class="fa fa-search"></i></button>
														</span>
														&nbsp; 
													<div class="btn float-right" style="cursor: pointer;" id="delDprt1" onclick="fnDelDprt(this);">
														<i class="fa fa-times"></i>
													</div>
													</div>
												</div>
											</div>
											<div class="form-group row mb-1">
												<label class="col-sm-2 col-form-label">관리점2</label>
												<div class="col-sm-10 form-inline">
													<div class="input-group">
														<input type="text" class="form-control" id="TB04012P_dlDprtCd2_dlDprtCd" readonly>
														&nbsp;
														<input type="text" class="form-control" id="TB04012P_dlDprtCd2_dlDprtNm" readonly>
														&nbsp;
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick="callTB03022P('TB04012P2')"><i class="fa fa-search"></i></button>
														</span>
														&nbsp;
													<div class="btn float-right" style="cursor: pointer;" id="delDprt2" onclick="fnDelDprt(this);">
														<i class="fa fa-times"></i>
													</div>
													</div>
												</div>
											</div>
											<div class="form-group row mb-1">
												<label class="col-sm-2 col-form-label">관리점3</label>
												<div class="col-sm-10 form-inline">
													<div class="input-group">
														<input type="text" class="form-control" id="TB04012P_dlDprtCd3_dlDprtCd" readonly>
														&nbsp;
														<input type="text" class="form-control" id="TB04012P_dlDprtCd3_dlDprtNm" readonly>
														&nbsp;
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick="callTB03022P('TB04012P3')"><i class="fa fa-search"></i></button>
														</span>
														&nbsp;
													<div class="btn float-right" style="cursor: pointer;" id="delDprt3" onclick="fnDelDprt(this);"> 
														<i class="fa fa-times"></i>
													</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of modal_content -->
		</div>
	</div>
</th:block>

</html>