<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}" />
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/fileUpload.js}"></script>
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
	<script th:src="@{js/business/tb/TB06080S.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 결제내역조회 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
			
				<div class="ibox">
					<div class="ibox-content i-filter">
						<!-- row1 -->
						<div class="row form-group form-inline text-right">
							<div class="col-sm-12 form-group">
								<label class="col-sm-1 col-form-label text-right">책임자</label>
								<div class="col-sm-3 input-group">
									<input type="text" class="form-control" id="TB06080S_rspl_empNm">
									<span class="input-group-append">
										<button type="button" class="btn btn-default" onclick="callTB03022P('TB06080S_rspl')"><i class="fa fa-search"></i></button>
									</span>
									<input type="text" class="form-control" style="width:40px;" id="TB06080S_rspl_empNo" readonly disabled>
								</div>
								<label class="col-sm-1 col-form-label text-right">승인요청자</label>
								<div class="col-sm-3 input-group">
									<input type="text" class="form-control" id="TB06080S_rqst_empNm">
									<span class="input-group-append">
										<button type="button" class="btn btn-default" onclick="callTB03022P('TB06080S_rqst')"><i class="fa fa-search"></i></button>
									</span>
									<input type="text" class="form-control" style="width:40px;" id="TB06080S_rqst_empNo" readonly disabled>
								</div>
								<label class="col-sm-1 col-form-label text-right">결재단계</label>
								<div class="col-sm-1-5 input-group">
									<select class="form-control" name="TB06080S_decdStepDcd" id='decdStepDcd'>
										<option value="00">선택</option>
										<!-- <option value=""></option> -->
									</select>
								</div>
								<div class="col-sm-1-5 text-right">
									<button class="btn btn-primary" type="button" id="" onclick="TB06080Sjs.inqTB06080S()"><i class="fa fa-search"></i>&nbsp;조회</button>
									<button id="" class="btn btn-default" onclick="TB06080Sjs.resetTb06080()"><i class="fa fa-undo"></i>&nbsp;초기화</button>
								</div>
							</div>
						</div>
					</div>
				</div>				
				<div class="ibox">
					<div class="ibox-title">
						<div>
							<h5>▶ 승인요청</h5>
						</div>
					</div>
					<div class="ibox-content" style="min-height: 800px">
					<div id="gridApvlList"></div>
						<div class="ibox mb-3">
							<div class="ibox-content">
								<!-- row1 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">승인요청순번</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;" id="TB06080S_apvlRqstSq" readonly disabled>
										</div>
										<label class="col-sm-1 control-label">책임자</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" id="TB06080S_chrrEno" readonly disabled>
											<span class="input-group-append">
												<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:40px;" id="TB06080S_chrrEnm" readonly disabled>
										</div>
										<label class="col-sm-1 control-label">요청자</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" id="TB06080S_dcfcEno" readonly disabled>
											<span class="input-group-append">
												<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:40px;" id="TB06080S_apvlRqstPEnm" readonly disabled>
										</div>
									</div>
								</div>
								<!-- row2 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group text-right">
										<label class="col-sm-1 col-form-label text-right">결재단계</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" name="TB06080S_decdStepDcd" id="TB06080S_decdStepDcd" readonly disabled>
												<!-- <option value=""></option> -->
											</select>
										</div>
										<label class="col-sm-1 control-label">승인요청일자</label>
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB06080S_rqstDtm" value="" placeholder="yyyy-mm-dd" readonly disabled>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
										<label class="col-sm-1 control-label">승인요청취소일자</label>
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB06080S_rqstCnclDtm" value="" placeholder="yyyy-mm-dd" readonly disabled>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
								</div>
								<!-- row3 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">Deal번호</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" id="TB06080S_dealNo" readonly disabled>
											<span class="input-group-append">
												<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:40px;" id="TB06080S_dealNm" readonly disabled>
										</div>
									</div>
								</div>
								<!-- row4 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">실행순번</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" id="TB06080S_excSq" readonly disabled>
										</div>
										<label class="col-sm-1 control-label">신청순번</label>
										<div class="col-sm-3 text-left input-group">
											<input type="text" class="form-control" id="TB06080S_rqstSq" readonly disabled>
										</div>
										<label class="col-sm-1 control-label">거래순번</label>
										<div class="col-sm-3 text-left input-group">
											<input type="text" class="form-control" id="TB06080S_trSq" readonly disabled>
										</div>
									</div>
								</div>
								<!-- row5 -->
								<div class="row form-group form-inline text-right">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">승인요청내용</label>
										<div class="col-sm-11 input-group">
											<textarea class="form-control" rows="3" id="TB06080S_apvlRqstCntn" readonly disabled></textarea>
										</div>
									</div>
								</div>
								<!-- row6 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">화면번호</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" id="TB06080S_scrnNo" readonly disabled>
										</div>																	
										<label class="col-sm-1 control-label">처리결과</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB06080S_prcsRsltDcd" readonly disabled>									
											</select>
										</div>
									</div>
								</div>
								<!-- row7 -->
								<div class="row form-group form-inline text-right">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">오류내용</label>
										<div class="col-sm-11 input-group">
											<textarea class="form-control" rows="3" id="TB06080S_errCntn" readonly disabled></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>	

						<div class="ibox">
							<div id="gridGbckList"></div>							
						</div>
						<div class="ibox-title">
							<div>
								<h5>▶ 반려</h5>
							</div>
						</div>
						<div class="ibox">
							<div class="ibox-content">
								<!-- row1 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">결재순번</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;" id="TB06080S_decdSq" readonly disabled>
										</div>
									</div>
								</div>
								<!-- row2 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group text-right">
										<label class="col-sm-1 col-form-label text-right">결재상태</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB06080S_decdSttsDcd" readonly disabled>
												<!-- <option value=""></option> -->
											</select>
										</div>
										<label class="col-sm-1 control-label">결재일자</label>
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB06080S_decdDtm" value="" placeholder="yyyy-mm-dd" readonly disabled>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
										<label class="col-sm-1 control-label">결재자</label>			
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB06080S_dcfcEnoGbck" readonly disabled>
											<span class="input-group-append">
												<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:40px;" id="TB06080S_dcfcEnmGbck" readonly disabled>
										</div>
									</div>
								</div>
								<!-- row3 -->
								<div class="row form-group form-inline text-right">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">결재자주석</label>
										<div class="col-sm-11 input-group"> 
											<textarea class="form-control" rows="3" id="TB06080S_dcfcAnnoCntn" readonly disabled></textarea>
										</div>
									</div>
								</div>
								<!-- row4 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">반려여부</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB06080S_rjctYn" readonly disabled>
												<option value="N">NO (N)</option>
												<option value="Y">YES (Y)</option>
											</select>
										</div>
									</div>
								</div>
								<!-- row5 -->
								<div class="row form-group form-inline text-right">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">반려사유</label>
										<div class="col-sm-11 input-group"> 
											<textarea class="form-control" rows="3" id="TB06080S_rjctRsnCntn" readonly disabled></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>				
			</div>
		</div>
	</div>
</th:block>

</html>