<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}" />
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/fileUpload.js}"></script>
	<script th:src="@{js/business/tb/TB06070S.js}"></script>
	<script th:src="@{js/business/tb/TB06070P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB06070P :: TB06070P"></th:block> <!-- TB06070P 팝업 화면 -->
</th:block>

<th:block layout:fragment="customContent">
	<!-- 상품정보관리 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content i-filter">
						<!-- row1 -->
						<div class="row form-group form-inline text-right">
							<div class="col-sm-12 form-group">
								<label class="col-sm-1 col-form-label text-right">기업신용공여상품</label>
								<div class="col-sm-4 input-group">
									<input type="text" class="form-control" id="TB06070S_prdtCd">
									<span class="input-group-append">
										<button type="button" class="btn btn-default" onclick="callTB06070P('TB06070S');"><i class="fa fa-search"></i></button>
									</span>
									<input type="text" class="form-control" style="width:200px;" id="TB06070S_prdtName" readonly>
								</div>
								<div class="col-sm-7 text-right">
									<button class="btn btn-primary" type="button" id="" onclick="TB06070Sjs.getDetailInfo();"><i class="fa fa-search"></i>&nbsp;조회</button>
									<button id="" class="btn btn-default" onclick=""><i class="fa fa-undo"></i>&nbsp;초기화</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ibox">
					<div class="tabs-container mb-1">
						<!-- <div class="tabs-container "> -->
							<ul class="nav nav-tabs" role="tablist" id="TB06070S_ramsTab">
								<li><a class="nav-link" data-toggle="tab" href="#tab-1">계정과목분류</a></li>
								<li><a class="nav-link" data-toggle="tab" href="#tab-2">상품기본정보</a></li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" id="TB06070S_tab-1" class="tab-pane">
									<div class="panel-body">
										<div class="col-sm-12">
											<div class="form-group form-inline row text-right">
												<!-- 1row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">상품유형(대)</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="TB06070S_eprzCrdlPrdtLclsCd" readonly disabled>
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">상품유형(중)</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="TB06070S_eprzCrdlPrdtMdclCd">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">상품유형(소)</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="TB06070S_eprzCrdlPrdtClsfCd">
															<option></option>
														</select>
													</div>
												</div>
												<!-- 2row -->
												<div class="form-group col-sm-12">
													<label class="col-sm-1 col-form-label">자산분류코드</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">자산대분류코드</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
												</div>
												<div class="hr w-100"></div>
												<!-- 3row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">SPPI여부</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">금융상품분류</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">대출만기</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="TB06070S_loanExpdCd">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">금융보증계약여부</label>
													<div class="col-sm-2 input-group input-h">
														<!-- <div class="col-sm-3 text-left input-group">
															<input type="radio" value="Y" name="">&nbsp;Y
														</div>
														<div class="col-sm-3 text-left input-group">
															<input type="radio" value="N" name="" checked="">&nbsp;N
														</div> -->
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_fnnEnsrCtrtY" name="TB06070S_fnnEnsrCtrtYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_fnnEnsrCtrtN" name="TB06070S_fnnEnsrCtrtYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
												</div>

												<!-- 4row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">프로젝트성대출</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">인수금융관련여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_undwFnnReltY" name="TB06070S_undwFnnReltYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_undwFnnReltN" name="TB06070S_undwFnnReltYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
													<label class="col-sm-1 col-form-label">외화대출여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_loanY" name="TB06070S_loanYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_loanN" name="TB06070S_loanYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
													<label class="col-sm-1 col-form-label">제외대출여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_xclsLoanY" name="TB06070S_xclsLoanYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_xclsLoanN" name="TB06070S_xclsLoanYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
												</div>

												<!-- 5row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">매입대출채권</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">부동산관련여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_rlesReltY" name="TB06070S_rlesReltYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_rlesReltN" name="TB06070S_rlesReltYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
													<label class="col-sm-1 col-form-label">사모사채여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_pplcCbndY" name="TB06070S_pplcCbndYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_pplcCbndN" name="TB06070S_pplcCbndYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
													<label class="col-sm-1 col-form-label">이해관계자여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_itrRelrY" name="TB06070S_itrRelrYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_itrRelrN" name="TB06070S_itrRelrYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
												</div>
												<!-- 5row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">영업외활동구분</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">계열사구분</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">손상채권여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_ipmtOblgY" name="TB06070S_ipmtOblgYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_ipmtOblgN" name="TB06070S_ipmtOblgYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
													<label class="col-sm-1 col-form-label">출자전환채권여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_fincCvsnOblgY" name="TB06070S_fincCvsnOblgYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_fincCvsnOblgN" name="TB06070S_fincCvsnOblgYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
												</div>

												<!-- 6row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">대지급금여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_pxdfY" name="TB06070S_pxdfYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_pxdfN" name="TB06070S_pxdfYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
												</div>

												<!-- 7row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">BS계정과목코드</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">손익계정과목코드</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="" readonly>
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">미수자산계정과목</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="" readonly>
															<option></option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" id="TB06070S_tab-2" class="tab-pane">
									<div class="panel-body">
										<div class="col-sm-12">
											<div class="form-group form-inline row text-right">
												<!-- 1row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">상품코드</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
													</div>
													<label class="col-sm-1 col-form-label">상품판매상태</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">확정여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_dfntY" name="TB06070S_dfntYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_dfntN" name="TB06070S_dfntYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
													<label class="col-sm-1 col-form-label">폐기여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_dsusY" name="TB06070S_dsusYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_dsusN" name="TB06070S_dsusYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
												</div>
												<!-- 2row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">상품명(한글)</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
													</div>
													<label class="col-sm-1 col-form-label">상품약어명(한글)</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
													</div>
													<label class="col-sm-1 col-form-label">상품명(영문)</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
													</div>
													<label class="col-sm-1 col-form-label">상품약어명(영문)</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
													</div>
												</div>

												<!-- 3row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">상품등록일</label>
													<div class="col-sm-2 input-group date">
														<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm-dd">
														<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													</div>
													<label class="col-sm-1 col-form-label">취급개시일</label>
													<div class="col-sm-2 input-group date">
														<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm-dd">
														<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													</div>
													<label class="col-sm-1 col-form-label">취급종료일</label>
													<div class="col-sm-2 input-group date">
														<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm-dd">
														<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													</div>
												</div>

												<!-- 4row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">한도기준</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">기준금리종류</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
												</div>

												<!-- 5row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">승인단위금액</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control text-right" style="" id="">
													</div>
													<label class="col-sm-1 col-form-label">최소승인금액</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control text-right" style="" id="">
													</div>
													<label class="col-sm-1 col-form-label">최대승인금액</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control text-right" style="" id="">
													</div>
												</div>

												<!-- 6row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">최단여신기간(월)</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control text-right" style="" id="">
													</div>
													<label class="col-sm-1 col-form-label">최장여신기간(월)</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control text-right" style="" id="">
													</div>
													<label class="col-sm-1 col-form-label">최단거치기간(월)</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control text-right" style="" id="">
													</div>
													<label class="col-sm-1 col-form-label">최장거치기간(월)</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control text-right" style="" id="">
													</div>
												</div>

												<!-- 6row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">이자선후취구분</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
												</div>

												<!-- 7row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">정상이자계산유형</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">연체이자계산유형</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
													<label class="col-sm-1 col-form-label">미수이자계산유형</label>
													<div class="col-sm-2 input-group">
														<select class="form-control" id="">
															<option></option>
														</select>
													</div>
												</div>

												<!-- 8row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label text-nowrap">중도상환수수료여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_mrdpFeeY" name="TB06070S_mrdpFeeYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_mrdpFeeN" name="TB06070S_mrdpFeeYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
													<label class="col-sm-1 col-form-label">신용정보원제공여부</label>
													<div class="col-sm-2 input-group input-h">
														<div class="col-sm-3 input-group">
															<input type="radio" value="Y" id="TB06070S_kcisOffrY" name="TB06070S_kcisOffrYN">
															<label class="col-sm-5">Y</label>
														</div>
														<div class="col-sm-3 input-group">
															<input type="radio" value="N" id="TB06070S_kcisOffrN" name="TB06070S_kcisOffrYN" checked>
															<label class="col-sm-5">N</label>
														</div>
													</div>
												</div>

												<!-- 9row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label text-nowrap">실행회계업무코드</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
														</span>
														<input type="text" class="form-control" style="width:100px;" id="" readonly="">
													</div>
													<label class="col-sm-1 col-form-label text-nowrap">실행회계단위업무</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
														</span>
														<input type="text" class="form-control" style="width:100px;" id="" readonly="">
													</div>
													<label class="col-sm-1 col-form-label text-nowrap">실행회계거래코드</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
														</span>
														<input type="text" class="form-control" style="width:100px;" id="" readonly="">
													</div>
												</div>

												<!-- 10row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label text-nowrap">상환회계업무코드</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
														</span>
														<input type="text" class="form-control" style="width:100px;" id="" readonly="">
													</div>
													<label class="col-sm-1 col-form-label text-nowrap">상환회계단위업무</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
														</span>
														<input type="text" class="form-control" style="width:100px;" id="" readonly="">
													</div>
													<label class="col-sm-1 col-form-label text-nowrap">상환회계거래코드</label>
													<div class="col-sm-2 input-group">
														<input type="text" class="form-control" id="">
														<span class="input-group-append">
															<button type="button" class="btn btn-default" onclick=""><i class="fa fa-search"></i></button>
														</span>
														<input type="text" class="form-control" style="width:100px;" id="" readonly="">
													</div>
												</div>
												<!-- 10row -->
												<div class="form-group col-sm-12 mb-1">
													<label class="col-sm-1 col-form-label">상품설명</label>
													<div class="col-sm-11 input-group">
														<textarea class="form-control" rows="3" id=""></textarea>
													</div>
												<!-- </div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="ibox form-inline">
							<div class="col-sm-12 text-right pd0">
								<button class="btn btn-success" type="button" onclick=""><i class="fa fa-file"></i>&nbsp;신규</button>
								<button class="btn btn-danger" type="button" onclick=""><i class="fa fa-eraser"></i>&nbsp;폐기</button>
								<button class="btn btn-success" type="button" onclick=""><i class="fa fa-save"></i>&nbsp;저장</button>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>