<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="TB07021P">
	<!-- modal -->
	<div id="modal-TB07021P" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header metis-modal-header">
					<h4 class="modal-title">은행정보조회</h4>
					<div class="col-sm-1 text-right">
                   		<button type="button" class="btn btn-default" onclick="modalClose_TB07021P();"><i class="fa fa-times"></i></button>
                   	</div>
				</div>
				<div class="modal-body">
					<input type="hidden" name="prefix" id="TB07021P_prefix" value=""/>
					<div class="row">
						<div class="col-sm-12 b-r">
							 <div class="ibox">
				    			<div class="ibox-content text-right">
				    				<!-- row1 -->
				    				<div class="form-group row mb-2">
				    					<label class="col-sm-2 col-form-label"><span class="req"></span>은행코드</label>
		                            	<div class="col-sm-3">
		                            		<input type="text" class="form-control" id="TB07021P_fnltCd">
		                            	</div>
				    					<label class="col-sm-2 col-form-label"><span class="req"></span>은행명</label>
				                        <div class="col-sm-3">
				                        	<input type="text" class="form-control" id="TB07021P_fnltNm">
				                        </div>
				    					<div class="col-sm-2 text-right">
				    						<button type="button" class="btn btn-primary" onclick="getFnltList();">
												<i class="fa fa-search"></i>&nbsp;조회
											</button>
				    					</div>
									</div>
				    				<!-- row2 -->
				    				<div class="form-group row">
				    					<div class="col-sm-12">
		    					<!-- 			<table class="table table-bordered table-hover text-center">
		    									<colgroup>
		    										<col style="width:30%">
		    										<col style="width:70%">
		    									</colgroup>
		    									<thead>
		    										<tr>
		    											<th>은행코드</th>
		    											<th>은행명</th>
		    										</tr>
		    									</thead>
		    									<tbody id="TB07021P_prdtCdList">
		    									</tbody>
		    								</table> -->
		    								<div id="grdFnlt">
		    								</div>
				    					</div>
				    				</div>
				    				<!-- row3 -->
				    				<!-- 
				    				<div class="form-group row">
				    					<div class="col-sm-12 text-right">
				    						<button class="btn btn-success" type="button">저장</button>
				    					</div>
				    				</div>
				    				 -->
				    			</div>
				    		</div><!-- ibox -->
						</div>
					</div>
				</div> 
			</div><!-- end of modal_content -->
		</div>
	</div>
</th:block>
</html>