<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/toggleBtn.js}"></script>
	<script th:src="@{js/business/tb/TB07040S.js}"></script>
	<script th:src="@{js/business/tb/TB06011P.js}"></script>
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
	<script th:src="@{js/business/popup/AC01110P.js}"></script>
	<script th:src="@{js/business/tb/TB11111S.js}"></script>
	<script th:src="@{js/business/tb/TB07021P.js}"></script>
	<script th:src="@{js/business/tb/TB07022P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB06011P :: TB06011P"></th:block>
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
	<th:block th:replace="business/popup/AC01110P :: AC01110P"></th:block>
	<th:block th:replace="business/tb/TB07021P :: TB07021P"></th:block>
	<th:block th:replace="business/tb/TB07022P :: TB07022P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content i-filter">
						<!-- row1 -->
						<div class="row form-group form-inline text-right">
							<div class="col-sm-12 form-group">
								<label class="col-sm-1 col-form-label text-right">거래일자</label>
								<div class="col-sm-2 input-group">
									<span class="input-group date">
										<input type="text" class="form-control" value="" id="TB07040S_rsltnDt"
											oninput="this.value = this.value.replace(/[^0-9-]/g, '');">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</span>
								</div>
								<label class="col-sm-1 col-form-label text-right">종목코드</label>
								<div class="col-sm-4">
									<div class="input-group">
										<input type="text" class="form-control" id="TB07040S_prdtCd">
										<span class="input-group-append">
											<button type="button" class="btn btn-default"
												onclick="callTB06011P('TB07040S');"><i
													class="fa fa-search"></i></button>
										</span>
										<input type="text" class="form-control" style="width:210px;"
											id="TB07040S_prdtNm" readonly>
									</div>
								</div>
								<div class="col-sm-4 text-right">
									<button class="btn btn-primary" type="button" onclick="TB07040Sjs.getSellList();"><i
											class="fa fa-search"></i>&nbsp;조회</button>
									<!-- <button id="" class="btn btn-info" onclick=""><i class="fa fa-arrow-right"></i>&nbsp;다음</button> -->
									<button id="" class="btn btn-default" onclick="TB07040Sjs.compClear();"><i
											class="fa fa-undo"></i>&nbsp;초기화</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ibox">
					<div class="ibox-content" style="min-height: 800px">
						<div class="ibox">
							<div class="ibox-content" style="border:0px;">
								<!-- row1 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1">처리구분</label>
										<div class="col-sm-3 input-group">
											<div class="btn-group col-sm-6 pd0" role="group" aria-label="">
												<button class="btn btn-s toggleBtn1 btn-info"
													onclick="TB07040Sjs.btnAdd();">등록</button>
												<button class="btn btn-s toggleBtn2 btn-default"
													onclick="TB07040Sjs.btnCancel();">취소</button>
											</div>
											<div class="col-sm-6 input-group">
												<input type="checkbox" value="" id="" name="">
												<label class="col-sm-6 flex-jc-i pd0">한도점검</label>
											</div>
										</div>
									</div>
								</div>
								<!-- row2 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">거래번호</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_trSn"
												value="" readonly>
										</div>
										<label class="col-sm-1 col-form-label text-right">좌수</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_trQnt"
												oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this), TB07040Sjs.calcTrAmt(), TB07040Sjs.calcTrslAmt(), TB07040Sjs.setHoldPrpsDcd();">
										</div>
										<label class="col-sm-1">지분율</label>
										<div class="col-sm-3 text-left input-group">
											<input type="text" class="form-control text-right" id="TB07040S_qotaRt"
												value="0.00" onclick="TB07040Sjs.setHoldPrpsDcd();" readonly>%
										</div>
									</div>
								</div>
								<!-- row3 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">거래구분</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07040S_ibPrdtTrDcd">
											</select>
										</div>
										<label class="col-sm-1">거래단가</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_trUnpr"
												oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this), TB07040Sjs.calcTrAmt(), TB07040Sjs.calcTrslAmt();">
										</div>
										<label class="col-sm-1">평균단가</label>
										<div class="col-sm-3 text-left input-group">
											<input type="text" class="form-control text-right" id="TB07040S_avrUnpr"
												value="" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this);" readonly>
										</div>
									</div>
								</div>
								<!-- row4 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">거래부서</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;"
												id="TB07040S_dprtCd">
											<span class="input-group-append">
												<!-- <button type="button" class="btn btn-default" id="TB07040S_btnDprtCd" onclick="callAC01110P('TB07040S');"><i class="fa fa-search"></i></button> todo: AC01110P팝업은 현재 미사용 / 팝업 추가 요망 -->
												<button type="button" class="btn btn-default" id="TB07040S_btnDprtCd"
													onclick="callTB03022P('TB07040S');"><i
														class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;"
												id="TB07040S_dprtNm" readonly>
										</div>
										<label class="col-sm-1">거래금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_trAmt"
												oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this), TB07040Sjs.calcTrAmt();" readonly>
										</div>
										<label class="col-sm-1">선급법인세</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right"
												id="TB07040S_prfdCorpIntx" value=""
												oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this);">
										</div>
										<!--<label class="col-sm-1">증권보관</label>
											<div class="col-sm-3 input-group">
												<select class="form-control" id="TB07040S_sctyCstdDcd">
													<option value="1">금고실물보관 (1)</option>
												</select>
											</div>-->
									</div>
								</div>
								<!-- row5 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">운용펀드</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;"
												id="TB07040S_fndCd">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" id="TB07040S_btnFndCd"
													onclick="callTB07022P('TB07040S')"><i
														class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;"
												id="TB07040S_fndNm" readonly>
											<!-- <button type="button" class="btn btn-default mg-l5">잔고선택</button> -->
										</div>
										<label class="col-sm-1">매매환율</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_trdeExrt"
												oninput="this.value = this.value.replace(/[^0-9.]/g, '');"
												onkeyup="TB07040Sjs.calcTrslAmt();">
										</div>
										<label class="col-sm-1">거래세</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_trtx"
												value="" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this);" readonly>
										</div>
									</div>
								</div>
								<!-- row6 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">종목코드</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;"
												id="TB07040S_input_prdtCd">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" id="TB07040S_btnPrdtCd"
													onclick="callTB06011P('TB07040S_input');"><i
														class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;"
												id="TB07040S_input_prdtNm" readonly>
										</div>
										<label class="col-sm-1">환산금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_trslAmt"
												readonly>
										</div>
										<!--<label class="col-sm-1">배당일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="TB07040S_rfnDt" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>-->
									</div>
								</div>
								<!-- row7 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">보유목적</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07040S_H002">
											</select>
										</div>
										<label class="col-sm-1">통화코드</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07040S_I027" readonly disabled>
												<!-- <select class="form-control" id="TB07040S_input_trCrryCd" readonly> -->
											</select>
										</div>
										<label class="col-sm-1">결제은행</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;"
												id="TB07040S_fnltCd">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" id="TB07040S_btnFnltCd"
													onclick="callTB07021P('TB07040S')"><i
														class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;"
												id="TB07040S_fnltNm" readonly>
										</div>
									</div>
								</div>
								<!-- row8 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">

										<label class="col-sm-1">전체발행좌수</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right"
												id="TB07040S_wholIssuShqt" value=""
												oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this);">
										</div>
										<label class="col-sm-1">기준환율</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_stdrExrt"
												value="0" readonly>
										</div>
										<label class="col-sm-1">결제계좌</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" id="TB07040S_stlAcno">
										</div>
										<!-- <label class="col-sm-1">FVOCI 지정사유</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07040S_fvociTrdeRsnDcd">
												<option value="1">금투업 유지 목적 (1)</option>
											</select>
											<input type="text" class="form-control text-right" id="">
										</div>-->
									</div>
								</div>
								<!-- row10 -->
								<div class="row form-group form-inline text-right mb-3">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1">보유좌수</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_hldgShqt"
												value="" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this);" readonly>
										</div>
										<label class="col-sm-1">매매손익금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07040S_tradPflsAmt"
												value="" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
												onkeyup="inputNumberFormat(this);" readonly>
										</div>
										<label class="col-sm-1">담당자</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;"
												id="TB07040S_empNo">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" id="TB07040S_btnEmpNo"
													onclick="callTB03022P('TB07040S')"><i
														class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;"
												id="TB07040S_empNm" readonly>
										</div>
									</div>
								</div>
								<div class="tableFixHeader2">
									<div id="TB07040S_tableList"></div>
								</div>
								<div class="row">
									<div class="col-sm-12 text-right">
										<button class="btn btn-info" onclick="testAlert('저장을 완료하였습니다.')"><i
												class="fa fa-save"></i>&nbsp;엑셀저장</button>
										<button class="btn btn-success" onclick="TB07040Sjs.showAlert();"><i
												class="fa fa-check"></i>&nbsp;실행</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>