<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/tb/TB07010S.js}"></script>
	<script th:src="@{js/business/tb/TB06011P.js}"></script>
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
	<script th:src="@{js/business/tb/TB07021P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB06011P :: TB06011P"></th:block>
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
	<th:block th:replace="business/tb/TB07021P :: TB07021P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<input type="hidden" id="temp_empNo">
	<input type="hidden" id="temp_empNm">
	<!-- 기업여신정보등록 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<!-- ibox -->
				<div class="ibox">
					<div class="ibox-content i-filter">
						<!-- row1 -->
						<div class="row form-group form-inline text-right">
							<div class="col-sm-12 form-group">
								<label class="col-sm-1 col-form-label text-right">종목코드</label>
								<div class="col-sm-5">
									<div class="input-group">
										<input type="text" class="form-control" id="TB07010S_prdtCd">
										<span class="input-group-append">
											<button type="button" class="btn btn-default" onclick="callTB06011P('TB07010S');"><i class="fa fa-search"></i></button>
										</span>
										<input type="text" class="form-control" style="width:210px;" id="TB07010S_prdtNm" readonly>
									</div>
								</div>
								<div class="col-sm-6 text-right">
									<button class="btn btn-primary" type="button" onclick="TB07010Sjs.srch();"><i class="fa fa-search"></i>&nbsp;조회</button>
									<button class="btn btn-default" onclick="TB07010Sjs.reset();"><i class="fa fa-undo"></i>&nbsp;초기화</button>&nbsp;
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox">
							<div class="ibox-title">
								<h5>▶&nbsp;기업여신정보</h5>
							</div>
							<div class="ibox-content">
								<!-- row1 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">거래상대방</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;" id="TB07010S_ptxtTrOthrDscmNo" disabled>
											&nbsp;
											<input type="text" class="form-control" style="width:70px;" id="TB07010S_ptxtTrOthrDscmNm" disabled>
										</div>
										<label class="col-sm-1 control-label">상품 소분류</label>
										<div class="col-sm-3 input-group form-inline">
											<input type="hidden" class="form-control" id="TB07010S_prdtLclsCd" disabled>
											<input type="hidden" class="form-control" id="TB07010S_prdtMdclCd" disabled>
											<input type="text" class="form-control" id="TB07010S_prdtSclsCd" disabled>
											&nbsp;
											<input type="text" class="form-control" style="width:120px;" id="TB07010S_prdtSclsNm" onkeyup="inputNumberFormat(this);" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">신청종류</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07010S_R023" disabled>
												<option value=""></option>
											</select>
										</div>
									</div>
								</div>
								<!-- row2 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group text-right">
										<label class="col-sm-1 col-form-label">승인일자</label>
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB07010S_regDt" value="" placeholder="YYYY-MM-DD" oninput="this.value = this.value.replace(/[^0-9-]/g, '')" disabled>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
										<!-- <div class="input-group row pr-1 pl-1">
											<div class="col-sm-5 input-group date">
												<input type="text" class="form-control" id="TB07010S_regDt" value="" placeholder="YYYY-MM-DD" oninput="this.value = this.value.replace(/[^0-9-]/g, '')" disabled>
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<div class="col-sm-4 input-group">
												<button type="button" class="btn btn-default">신용유의정보</button>
											</div>
											<div class="col-sm-3 input-group pl-0">
												<input type="text" class="form-control" readonly>
											</div>
										</div> -->
										<label class="col-sm-1 col-form-label">약정일자</label>
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB07010S_ctrcDt" value="" placeholder="YYYY-MM-DD" oninput="this.value = this.value.replace(/[^0-9-]/g, '')" disabled>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
										<label class="col-sm-1 col-form-label">약정만기일</label>
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB07010S_ctrcExpDt" value="" placeholder="YYYY-MM-DD" oninput="this.value = this.value.replace(/[^0-9-]/g, '')" disabled>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
								</div>
								<!-- row3 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">승인금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_eprzCrdlApvlAmt" value="0" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">약정금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_contractAmt" oninput="TB07010Sjs.setLoanablAmt();" value="0" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">대출금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_loanAmt" value="0" disabled>
										</div>
									</div>
								</div>
								<!-- row4 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">대출잔액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_dealExcBlce" value="0" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">대출가능금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_loanablAmt" value="0" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">통화코드</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07010S_I027" disabled>
												<option value=""></option>
											</select>
											<!-- <input type="text" class="form-control" id="TB07010S_I027" disabled> -->
										</div>
									</div>
								</div>
								<!-- row5 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 control-label">계정과목</label>
										<div class="col-sm-3 input-group form-inline mb3">
											<input type="text" class="form-control" id="" disabled>
											&nbsp;
											<input type="text" class="form-control" style="width:120px;" id="" onkeyup="inputNumberFormat(this);" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">한도구분</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07010S_E010" disabled>
												<option value=""></option>
											</select>
										</div>
										<label class="col-sm-1 col-form-label text-right">금리구분</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07010S_S003" disabled>
												<option value=""></option>
											</select>
										</div>
									</div>
								</div>
								<!-- row6 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">상환방법/개월</label>
										<div class="col-sm-3 input-group form-inline mb3">
											<select class="form-control" id="TB07010S_E020" disabled>
												<option value=""></option>
											</select>
											<input type="text" class="form-control mg-l5 text-right" id="TB07010S_rdmpMnum" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">이자방법/개월</label>
										<div class="col-sm-3 text-left input-group">
											<select class="form-control" id="TB07010S_E011" disabled>
												<option value=""></option>
											</select>
											<input type="text" class="form-control mg-l5 text-right" id="TB07010S_intrMnum" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">기준/가산/총금리</label>
										<div class="col-sm-3 input-group px-1">
											<input type="text" class="form-control mg-lr6 text-right" id="TB07010S_stdrIntr_loan" style="width:30px;" disabled>
											<input type="text" class="form-control mg-lr6 text-right" id="TB07010S_addIntr_loan" style="width:30px;" disabled>
											<input type="text" class="form-control mg-lr6 text-right" id="TB07010S_totIntr_loan" style="width:30px;" disabled>
										</div>
									</div>
								</div>
								<!-- row7 -->
								<div class="row form-group form-inline mt-2">
									<div class="col-sm-12 form-group">
										<label class="col-sm-12 col-form-label flex-jc-i pd-l35">※ 대출가능금액 : [한도인 경우] 약정금액 - 대출잔액, [개별인 경우] 약정금액 - 대출금액</label>
									</div>
								</div>
							</div>
						</div>
						<div class="ibox">
							<div class="ibox-title">
								<h5>▶&nbsp;실행정보</h5>
							</div>
							<div class="ibox-content">
								<!-- row1 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">실행일자</label>
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB07010S_execDt" value="" placeholder="YYYY-MM-DD" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
										<label class="col-sm-1 col-form-label text-right">실행금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_dealExcAmt" value="0" oninput="inputNumberFormat(this); calAcbkAmt(); calKrwTrsl();">
										</div>
										<label class="col-sm-1 col-form-label text-right">이체방법</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07010S_F008">
												<option value="">선택</option>
											</select>
										</div>
									</div>
								</div>
								<!-- row2 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">만기일자</label>
										<div class="col-sm-3 input-group date">
											<input type="text" class="form-control" id="TB07010S_expDt" value="" placeholder="YYYY-MM-DD" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
										<label class="col-sm-1 col-form-label text-right">만기상환금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_expRdmpAmt" value="0" oninput="inputNumberFormat(this);">
										</div>
										<label class="col-sm-1 col-form-label text-right">금융기관</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;" id="TB07010S_fnltCd">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" id="btnFnlt" onclick="callTB07021P('TB07010S');"><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;" id="TB07010S_fnltNm" readonly>
										</div>
										<!-- <label class="col-sm-1 col-form-label text-right">자금원장</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;" id="TB07010S_">
											<span class="input-group-append">
												<button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;" id="TB07010S_" readonly>
										</div> -->
									</div>
								</div>
								<!-- row3 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">거치만기일자</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_dfrExpMnum" value="0" oninput="inputNumberFormat(this); maxStr(this, 12)" maxlength="2">개월
											<!-- <span class="input-group-addon"><i class="fa fa-calendar"></i></span> -->
										</div>
										<label class="col-sm-1 col-form-label text-right">적용환율</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_krwTrslRt" value="0" maxlength="6">
										</div>
										<label class="col-sm-1 col-form-label text-right">계좌번호</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-left" id="TB07010S_brkgAcno" oninput="inputOnlyNumberFormat(this);" maxlength="14">
										</div>
									</div>
								</div>
								<!-- row4 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">상환지정일</label>
										<div class="col-sm-3 input-group">
											<!-- <input type="text" class="form-control text-right" id="TB07010S_I017" oninput="inputNumberFormat(this); maxStr(this, 12)" maxlength="2">개월 -->
											<select class="form-control" id="TB07010S_I017">
												<option value="">선택</option>
											</select>
										</div>
										<label class="col-sm-1 col-form-label text-right">원화환산실행금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_krwTrslExcAmt" value="0" oninput="inputNumberFormat(this);">
										</div>
										<label class="col-sm-1 col-form-label text-right">은행부실점명</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" id="TB07010S_bankBsjNm">
										</div>
									</div>
								</div>
								<!-- row5 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<!-- <label class="col-sm-1 col-form-label text-right">금리구분</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07010S_S003_2">
												<option value="">선택</option>
											</select>
										</div> -->
										<label class="col-sm-1 col-form-label text-right">기준/가산/총금리</label>
										<div class="col-sm-3 input-group px-1">
											<input type="text" class="form-control text-right mg-lr6" style="width:30px;" id="TB07010S_stdrIntr_exe" value="0" oninput="inputOnlyNumberFormat(this); restrictDecimalDigits(this, 4);" maxlength="6" disabled>
											<input type="text" class="form-control text-right mg-lr6" style="width:30px;" id="TB07010S_excAddIntrt_exe" value="0" oninput="inputOnlyNumberFormat(this); restrictDecimalDigits(this, 4); calInsRate();" maxlength="6">
											<input type="text" class="form-control text-right mg-lr6" style="width:30px;" id="TB07010S_totIntr_exe" value="0" oninput="inputOnlyNumberFormat(this); restrictDecimalDigits(this, 4);" maxlength="6" disabled>
										</div>
										<label class="col-sm-1 col-form-label text-right">원화환산이자금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_krwTrslIntAmt" value="0" oninput="inputNumberFormat(this);">
										</div>
										<label class="col-sm-1 col-form-label text-right">예금주</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-left" id="TB07010S_achdNm">
											<button type="button" class="btn btn-default mg-l5">수취계좌조회</button>
										</div>
									</div>
								</div>
								<!-- row6 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">선취이자</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_prcsIntrAmt" value="0" oninput="inputNumberFormat(this); calAcbkAmt();" disabled>
											<button type="button" class="btn btn-default mg-l5" id="btnIntr" onclick="TB07010Sjs.inqIntr();" disabled>이자조회</button>
										</div>
										<label class="col-sm-1 col-form-label text-right">수수료</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_feeAmt" value="0" oninput="inputNumberFormat(this); calAcbkAmt(); feeReset();">
										</div>
										<label class="col-sm-1 col-form-label text-right">담당자</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;" id="TB07010S_chrg_empNo">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" onclick="callTB03022P('TB07010S_chrg')"><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;" id="TB07010S_chrg_empNm" readonly>
										</div>
									</div>
								</div>
								<!-- row7 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<div class="col-sm-4 input-group">
										</div>
										<label class="col-sm-1 col-form-label text-right">최종지급금액</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_acbkAmt" value="0" oninput="inputNumberFormat(this);">
										</div>
										<label class="col-sm-1 col-form-label text-right">승인자</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;" id="TB07010S_empNo">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" onclick="callTB03022P('TB07010S')"><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;" id="TB07010S_empNm" readonly>
										</div>
									</div>
								</div>
								<!-- row8 -->
								<!-- <div class="row form-group form-inline text-right">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">선취이자</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07010S_bnaoIntr">
											<button type="button" class="btn btn-default mg-l5">이자조회</button>
										</div>
										<div class="col-sm-4 input-group">
										</div>
										<div class="col-sm-4 input-group">
										</div>

									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
				<!-- end of ibox -->
				<div class="tabs-container mb-1">
			        <ul class="nav nav-tabs" role="tablist" id="TB07010S_ramsTab">
			            <li><a class="nav-link" data-toggle="tab" href="#tab-1">수수료수납대장</a></li>
			        </ul>
			        <div class="tab-content">
			            <!-- 수수료수납대장 -->
			            <div role="tabpanel" class="tab-pane " id="TB07010S_tab-1">
			                <div class="panel-body">
			                    <div class="row">
			                        <div class="col-lg-12">
										<input type="hidden" id="TB07010S_prcsCpltYn">
										<div id="grd_feeRciv" style="margin:auto;">
										</div>
										<div class="form-group row mt-2">
											<label class="col-sm-5 col-form-label">※ 실행일자 이전 수수료수납 대상만 조회됩니다. (수납완료건은 제외)</label>
										</div>
										<div class="text-right" style="padding-right:5px;">
											<button class="btn btn-success" type="button" id="btnSave" onclick="TB07010Sjs.save();"><i class="fa fa-save"></i>&nbsp;실행</button>
										</div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="clearfix mt-2">
					<div class="float-left">
						<button class="btn btn-warning" onclick="TB07010Sjs.showAlert119();">스케줄관리</button>
					</div>
					<div class="float-right">
						<button class="btn btn-warning" onclick="TB07010Sjs.ldgMovePage();">실행완료(원장조회)</button>
					</div>
				</div>

			</div>
		</div><!-- div row -->
	</div>
</th:block>

</html>