<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/tb/TB07070S.js}"></script>
	<script th:src="@{js/business/tb/TB06011P.js}"></script>
	<!-- <script th:src="@{js/business/tb/TB03021P.js}"></script> -->
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB06011P :: TB06011P"></th:block>
	<!-- <th:block th:replace="business/tb/TB03021P :: TB03021P"></th:block> -->
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 실행상환취소 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<!-- 조회조건 st-->
				<div class="ibox">
					<div class="ibox-content mb-2">
						<div class="form-group form-inline row">
							<div class="col-sm-10 form-group mb-1">

								<label class="col-sm-1 col-form-label">종목코드</label>
								<div class="col-sm-7 input-group">
									<div class="input-group  w-100">
										<input type="text" class="form-control" id="TB07070S_prdtCd">
										<span class="input-group-append">
											<button type="button" class="btn btn-default" onclick="callTB06011P('TB07070S');"><i class="fa fa-search"></i></button>
										</span>
										<input type="text" class="form-control" id="TB07070S_prdtNm" style="width: 174px;" readonly>
									</div>
								</div>
								
								<label class="col-sm-1 col-form-label">담당자</label>
								<div class="col-sm-3 input-group">
									<div class="input-group">
										<input type="text" class="form-control" id="TB07070S_empNo">
										<span class="input-group-append">
											<button type="button" class="btn btn-default" onclick="callTB03022P('TB07070S');"><i class="fa fa-search"></i></button>
										</span>
										<input type="text" class="form-control" id="TB07070S_empNm" style="width: 100px;" readonly="">
									</div>
								</div>
								
							</div>
							<div class="col-sm-10 form-group">

								<label class="col-sm-1 col-form-label">거래일자</label>
								<div class="col-sm-3 input-group">
									<div class="col-sm-12 input-group date px-0">
										<input type="text" class="form-control" id="TB07070S_trDt" oninput="this.value = this.value.replace(/[^0-9-]/g, '');" value="" placeholder="YYYY-MM-DD">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
								<label class="col-sm-1 col-form-label">거래종류</label>
								<div class="col-sm-3  input-group">
									<select class="form-control" id="TB07070S_P012">
										<option value="">전체</option>
									</select>
								</div>
								<label class="col-sm-1 col-form-label">거래상태</label>
								<div class="col-sm-3  input-group">
									<select class="form-control" id="TB07070S_E026">
										<option value="">전체</option>
									</select>
								</div>

							</div>

							<div class="col-sm-1-5 text-right pl-0">

								<button class="btn btn-primary" type="button" onclick="TB07070Sjs.srch();">
									<i class="fa fa-search"></i>&nbsp;조회</button>
								<button id="" class="btn btn-default" onclick="TB07070Sjs.reset();">
									<i class="fa fa-undo"></i>&nbsp;초기화</button>

							</div>
						</div>
					</div>
				</div>
				<!-- 조회조건 ed -->
				
				<div class="ibox-content" style="min-height: 780px">	
					<!-- 취소대상내역 -->
					<div class="ibox">
						<div class="ibox-title">
							<h5>▶&nbsp;취소대상내역</h5>
						</div>
						<div class="ibox-content">
							<div id="grd_07070"></div>
							<!-- <div class="pq-theme tableFixHeader1">
								<table class="table result table-bordered table-hover">
									<colgroup>
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
										<col style="">
									</colgroup>
									<thead>
										<tr>
											<th>종목코드</th>
											<th>종목명</th>
											<th>거래순번</th>
											<th>실행순번</th>
											<th>대출종류</th>
											<th>거래종류</th>
											<th>거래상태</th>
											<th>통화코드</th>
											<th>거래일자</th>
											<th>거래금액</th>
											<th>거래원금</th>
											<th>거래이자</th>
											<th>거래수수료</th>
											<th>거래부서</th>
											<th>담당자</th>
										</tr>
									</thead>
									<tbody id="">
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div> -->
						</div>
					</div>
					<!-- 취소대상내역 end -->
					<div class="row form-group form-inline text-right mb-2">
						<div class="col-sm-12 form-group pd0">
							<label class="col-sm-1">정정/취소사유내용</label>
							<div class="col-sm-11 input-group">
								<textarea class="form-control" rows="3" id="TB07070S_rvseCnclRsonText"></textarea>
							</div>
						</div>
					</div>
					<div class="ibox form-inline">
						<!-- 버튼영역 -->
						<div class="col-sm-12 text-right pd0">
							<button class="btn btn-info mg-l5" type="button" id="btnSave" onclick=""><i class="fa fa-check"></i>&nbsp;실행</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 실행상환취소 ed -->
</th:block>

</html>