<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/business/tb/TB08036S.js}"></script>
	<script th:src="@{js/business/tb/TB03021P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB03021P :: TB03021P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- PF사후관리 관리  -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<!-- 조회 조건 -->
					<div class="ibox-content mb-2">
						<!-- 기본항목 -->
						<div class="ibox">
							<div class="ibox-title">
								<h4>▶ 기본항목</h4>
							</div>
							<div class="ibox-content">
								<div class="row form-group form-inline">
									<div class="col-sm-5 input-group">
										<label class="col-sm-2 col-form-label">Deal번호</label>
										<input type="text" class="form-control" id="TB08036S_ibDealNo">
										<span class="input-group-append">
											<button type="button" class="btn btn-default" onclick="callTB03021P('TB08036S');"><i class="fa fa-search"></i></button>
										</span>
										<input type="text" class="form-control" id="TB08036S_ibDealNm" style="width:210px;" disabled>
									</div>
									<div class="col-sm-5 form-group">
										<label class="col-sm-3 col-form-label">점검기준년월</label>
										<span class="col-sm-8 input-group month no-padding mb-1">
											<input type="text" class="form-control" id="TB08036S_inspctYyMm">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</span>
									</div>
									<div class="col-sm-2 form-group text-right">
										<button class="btn btn-primary" onclick="TB08036Sjs.getDealInfoTB08036S();"><i class="fa fa-search"></i>&nbsp;조회</button>&nbsp;
										<button class="btn btn-default" onclick="TB08036Sjs.btnResetTB08036S();"><i class="fa fa-undo"></i>&nbsp;초기화</button>
									</div>
								</div>
							</div>
						</div>
						<!-- TAB -->
						<div class="tabs-container ">
							<ul class="nav nav-tabs " role="tablist" id="TB08036S_ramsTab">
								<li class=""><a class="nav-link active" data-toggle="tab" href="#TB08036S_tab-1">분양수지 관리</a></li>
								<li class=""><a class="nav-link" data-toggle="tab" href="#TB08036S_tab-2">당월 사업 관리의견</a></li>
								<li class=""><a class="nav-link" data-toggle="tab" href="#TB08036S_tab-3">기타 사후관리</a></li>
								<li class="">&nbsp;&nbsp;&nbsp;</li>
								<div class="">
									<button class="btn btn-default btn-xs mt-1" type="button">
										<i class="fa fa-arrow-right"></i> ┃사업개요
									</button>
								</div>
							</ul>
							<div class="tab-content">
								<!-- 분양수지 관리 -->
								<div role="tabpanel" id="TB08036S_tab-1" class="tab-pane active">
									<div class="panel-body">
										<div class="row form-inline form-group text-right align-items-start">
											<!-- 분양공사일정 -->
											<div class="ibox col-sm-12">
												<div class="ibox-title text-left">
													<h4>▶ 분양/공사일정</h4>
												</div>
												<div class="ibox-content mb-1">
													<div class="row form-group form-inline text-right">
														<div class="col-sm-12 text-left ml-3">
															<h4>사업 기본정보</h4>
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">분양시작일</label>
															<span class="col-sm-8 input-group date no-padding">
																<input type="text" class="form-control" id="slStDt">
																<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
															</span>
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">분양종료일</label>
															<span class="col-sm-8 input-group date no-padding">
																<input type="text" class="form-control" id="slEdDt">
																<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
															</span>
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">분양기간</label>
															<input type="text" class="col-sm-8 form-control" id="slPrd">
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">공사시작일</label>
															<span class="col-sm-8 input-group date no-padding">
																<input type="text" class="form-control" id="cnstStDt">
																<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
															</span>
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">공사종료일</label>
															<span class="col-sm-8 input-group date no-padding">
																<input type="text" class="form-control" id="cnstEdDt">
																<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
															</span>
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">공사기간</label>
															<input type="text" class="col-sm-8 form-control" id="cnstPrd">
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">신용보강기관내용</label>
															<input type="text" class="col-sm-8 form-control" id="crdtRifcIsttCtns">
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">세대수</label>
															<input type="text" class="col-sm-8 form-control" id="unitNum">
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">대출채권양수여부</label>
															<select class="col-sm-8 form-control" id="loanBondTakYn">
																<option value="Y">Y</option>
																<option value="N">N</option>
															</select>
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">사업성자체평가</label>
															<select class="col-sm-8 form-control" id="prfbIslfEvl"></select>
														</div>
														<div class="col-sm-4 form-group mb-1"></div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">IPRE여부</label>
															<select class="col-sm-8 form-control" id="ipreYn">
																<option value="Y">Y</option>
																<option value="N">N</option>
															</select>
														</div>
														<div class="col-sm-4 form-group  mb-1">
															<label class="col-sm-4 col-form-label">계산내부등급</label>
															<input type="text" class="col-sm-8 form-control" id="clcIntlGrd">
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">확정내부등급</label>
															<input type="text" class="col-sm-8 form-control" id="dcsnIntlGrd">
														</div>
														<div class="col-sm-4 form-group mb-1">
															<label class="col-sm-4 col-form-label">이주율</label>
															<input type="text" class="col-sm-8 form-control" id="mgtnRt">
														</div>
														<div class="col-sm-4 form-group">
															<label class="col-sm-4 col-form-label">예상진척율</label>
															<input type="text" class="col-sm-8 form-control" id="estmPrgsRt">
														</div>
														<div class="col-sm-4 form-group">
															<label class="col-sm-4 col-form-label">실적진척율</label>
															<input type="text" class="col-sm-8 form-control" id="pfmcPrgsRt">
														</div>
														<div class="col-sm-4 form-group">
															<label class="col-sm-4 col-form-label">사업진행단계</label>
															<input type="text" class="col-sm-8 form-control" id="busiPrgStep">
														</div>
													</div>
												</div>
											</div>
											<!-- 월별 공사 및 분양 현황 -->
											<div class="ibox col-sm-6">
												<div class="ibox-title">
													<div class="btn-wrap">
														<h4>▶ 월별 공사 및 분양 현황</h4>
														<div class="text-right" style="padding-right:5px;" >
															<button class="btn btn-xs btn-default" onclick=""><i class="fa fa-plus"></i></button>
															<button class="btn btn-xs btn-default" onclick=""><i class="fa fa-minus"></i></button>
														</div>
													</div>
												</div>
												<div class="ibox-content">
													<div class="tableFixHeader">
														<table class="table table-bordered">
															<thead class="text-center">
																<tr>
																	<th>기준년월</th>
																	<th>사업진행단계</th>
																	<th>예상진척율</th>
																	<th>실적진척율</th>
																</tr>
															</thead>
															<tbody id="TB08036S_slltList">
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<!-- 분양수입/공사비 점검의견 -->
											<div class="ibox col-sm-6">
												<div class="ibox-title">
													<h4 class="text-left">분양수입/공사비 점검의견</h4>
												</div>
												<div class="ibox-content">
													<div class="col-sm-12 form-group mb-1">
														<label class="col-sm-3 col-form-label">점검결과</label>
														<select class="col-sm-9 form-control" id="checkRslt"></select>
													</div>
													<div class="col-sm-12 form-group">
														<label class="col-sm-3 col-form-label">영업점분양수지점검의견</label>
														<textarea class="col-sm-9 form-control" id="bsnBdSlltBalcCheckOpnn"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 당월 사업 관리의견 -->
								<div role="tabpanel" id="TB08036S_tab-2" class="tab-pane">
									<div class="panel-body">
										<div class="row form-inline form-group text-right">
											<div class="ibox col-sm-12">
												<div class="ibox-title text-left">
													<h4>당월 사업 관리의견</h4>
												</div>
												<div class="ibox-content mb-1">
													<div class="form-group">
														<label class="col-sm-1 col-form-label">점검결과</label>
														<textarea class="col-sm-11 form-control" id="inspctRmrk" rows="4"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 기타 사후관리 -->
								<div role="tabpanel" id="TB08036S_tab-3" class="tab-pane">
									<div class="panel-body">
										<div class="row form-inline form-group text-right">
											<div class="ibox col-sm-12">
												<div class="ibox-title">
													<div class="ibox-tools mt-1">
														<button class="btn btn-xs btn-default float-right m-t-n-xs" type="button" id="sellDownDelRow" onclick="TB08036Sjs.delRow();" style="margin-left: 2px; margin-right: 2px;">- 행삭제</button>
														<button class="btn btn-xs btn-default float-right m-t-n-xs" type="button" id="sellDownAddRow" onclick="TB08036Sjs.addRow();" style="margin-left: 2px; margin-right: 2px;">+ 행추가</button>
													</div>
												</div>
												<div class="ibox-content mb-1">
													<div class="col-sm-12">
														<div class="tableFixHeader">
															<table class="table table-bordered">
																<thead class="text-center">
																	<tr>
																		<th style="width: 15%;">점검일자</th>
																		<th style="width: 60%;">관리내용</th>
																		<th style="width: 20%;">비고</th>
																		<th style="width: 5%;"></th>
																	</tr>
																</thead>
																<tbody id="TB08036S_etcList">
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-title ">
						<h4 class="">파일첨부</h4>
						<div class="ibox-tools ">
							<button class="btn btn-default btn-xs" type="button" id="addFile"><i class="fa fa-upload"></i>&nbsp;파일추가</button>
							<button id="" class="btn btn-default btn-xs" onclick=""><i class="fa fa-download"></i>&nbsp;내려받기</button>
						</div>
					</div>
					<div class="ibox-content mb-1">
						<div class="tableFixHead2">
							<table class="table result table-bordered">
								<thead class="text-center">
									<tr>
										<th>선택</th>
										<th>파일종류</th>
										<th>업무종류</th>
										<th>등록일시</th>
										<th>업무팀</th>
										<th>담당자</th>
										<th>파일명</th>
										<th>파일크기</th>
									</tr>
								</thead>
								<tbody id="">
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-sm-6 form-inline"></div>
							<div class="col-sm-6 text-right mt-1 mb-1">
								<button id="" class="btn btn-success" onclick="TB08036Sjs.modifyDealInfoTB08036S();">
									<i class="fa fa-save"></i>&nbsp;저장
								</button>
								<button id="" class="btn btn-danger" onclick="TB08036Sjs.deleteDealInfoTB08036S();">
									<i class="fa fa-eraser"></i>&nbsp;삭제
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>