<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/tb/TB09090S.js}"></script>
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 일별 신용사건 현황 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<!-- 조회조건영역 -->
					<div class="ibox-content mb-2">
						<div class="form-group form-inline row">
							<div class="col-sm-12 form-group">
								<label class="col-sm-1 control-label">보고기준일자</label>
								<div class="col-sm-2 input-group">
									<span class="input-group date"> 
										<input type="text" class="form-control" id="TB09090S_stdDt" name="start" value="" onchange="TB09090Sjs.getStdDtDate(event.target.value);" readonly>
										<span class="input-group-addon"> <i
											class="fa fa-calendar"></i>
									</span>
									</span>
								</div>
								<!-- <label class="col-sm-1 control-label">보고기준일자</label>
								<div class="col-sm-2 input-group">
									<span class="input-group date"> <input type="text"
										class="form-control" id="TB09090S_selDt" name="start" value="">
										<span class="input-group-addon"> <i
											class="fa fa-calendar"></i>
									</span>
									</span>
								</div> -->
								<label class="col-sm-1 control-label">운용부서</label>
								<div class="col-sm-3 input-group">
									<input type="text" class="form-control" id="TB09090S_dprtCd"
										name="" placeholder="00000" readonly> <span class="input-group-append">
										<button type="button" class="btn btn-default" disabled
											onclick="callTB03022P('TB09090S')">
											<i class="fa fa-search"></i>
										</button>
									</span> <input type="text" class="form-control border-left-none"
										id="TB09090S_dprtNm" name="" placeholder="전체" readonly>
								</div>
								<div class="col-sm-5 text-right">
									<button class="btn btn-primary" onclick="TB09090Sjs.getCpcList();"><i class="fa fa-search"></i>&nbsp;조회</button>
									<button class="btn btn-default" onclick="TB09090Sjs.resetParam()">
										<i class="fa fa-undo"></i>&nbsp;초기화
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="ibox-content" style="min-height: 820px">
						<div class="row">
							<div class="col-lg-3">
								<div class="ibox">
									<div class="ibox-title">
										<div>
											<h5>▶ 금감원 보고서 내역</h5>
										</div>
									</div>
									<div class="ibox-content">
										<div class="tableFixHeader2" style="height: 456px;">
											<table class="table table-bordered table-hover">
												<colgroup>
													<col style="width: 2%;">
													<col style="width: 10%;">
													<col style="width: 5%;">
												</colgroup>
												<thead class="text-center">
													<tr>
														<th></th>
														<th>보고서명</th>
														<th>확정여부</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="checkbox" id="TB09090S_chkF1"></td>
														<td>CPC1 유형 기초자산 보고서</td>
														<td id="TB09090S_confirmed1" style="text-align: center;"></td>
													</tr>
													<tr>
														<td><input type="checkbox" id="TB09090S_chkF2"></td>
														<td>CPC2 유형 기초자산 보고서</td>
														<td id="TB09090S_confirmed2" style="text-align: center;"></td>
													</tr>
													<tr>
														<td><input type="checkbox" id="TB09090S_chkF3"></td>
														<td>CPC3 유형 기초자산 보고서</td>
														<td id="TB09090S_confirmed3" style="text-align: center;"></td>
													</tr>
													
													<!-- <tr>
														<td><input type="checkbox"></td>
														<td>상시감시시스템 1(채무보증</td>
														<td></td>
													</tr>
													<tr>
														<td><input type="checkbox"></td>
														<td>상시감시시스템 3(유동화증</td>
														<td></td>
													</tr>
													<tr>
														<td><input type="checkbox"></td>
														<td>상시감시시스템 5(부동산</td>
														<td></td>
													</tr>
													<tr>
														<td><input type="checkbox"></td>
														<td>기업여신상세현황</td>
														<td></td>
													</tr>
													<tr>
														<td><input type="checkbox"></td>
														<td>기업여신SPC상세현황</td>
														<td></td>
													</tr> -->
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="col-lg-13">
									<div>
										<label>* 확정 처리는 각 부서 부서장만 가능<br>
											* 확정취소 처리는 감사실, 신용리스크실, 경영기획팀만 가능</label>
										<div class="col-sm-13 text-right mb-2">
											<button class="btn btn-default" id="dcsnY" onclick="TB09090Sjs.dcsnCheck()">&nbsp;확정</button>
											<button class="btn btn-default" id="dcsnN" onclick="TB09090Sjs.dcsnCancel()">&nbsp;확정취소
											</button>
										</div>
									</div>
									<!-- <div class="ibox">
										<div class="ibox-title">
											<div>
												<h5>▶ 보고기준 자산건수</h5>
											</div>
										</div>
										<div class="ibox-content">
											<table class="table table-bordered table-hover">
												<colgroup>
													<col style="width: 5%;">
													<col style="width: 10%;">
												</colgroup>
												<thead class="text-center">
													<tr>
														<th>상품분류(대/중/소)</th>
														<th>건수</th>
													</tr>
												</thead>
												<tbody id="">
													<tr>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div> -->
								</div>
							</div>
							<div class="col-lg-9">
								<div class="ibox">
									<div class="ibox-title">
										<div>
											<h5>▶ 등록내역</h5>
										</div>
									</div>
									<div class="ibox-content">
										<div class="form-group form-inline row mb-2">
											<div class="col-sm-12 form-group mb-1">
												<!-- <label class="col-sm-1 control-label">보고기준일자</label>
												<div class="col-sm-2 input-group">
													<span class="input-group date"> <input type="text"
														class="form-control" id="TB09090S_stdDt_in_detail" name="start"
														value="" onchange="" readonly> <span class="input-group-addon">
															<i class="fa fa-calendar"></i>
													</span>
													</span>
												</div> -->
												<label class="col-sm-1 control-label">부서코드</label>
												<div class="col-sm-5 input-group">
													<input type="text" class="form-control" id="TB09090S1_dprtCd"
														name="" placeholder="00000" readonly> <span class="input-group-append">
														<button type="button" class="btn btn-default" id="getDprtBtn"
															onclick="callTB03022P('TB09090S1')">
															<i class="fa fa-search"></i>
														</button>
													</span> <input type="text" class="form-control border-left-none"
														id="TB09090S1_dprtNm" name="" placeholder="전체" readonly>
												</div>
												<div class="col-sm-6 text-right">
													<button class="btn btn-default" onclick="TB09090Sjs.nnGetCpcDetail();">
														&nbsp;조회</button>
													<!-- <button class="btn btn-default" disabled>&nbsp;다음
													</button> -->
													<button class="btn btn-default" onclick="TB09090Sjs.resetGridData()">
														<i class="fa fa-undo"></i>&nbsp;초기화
													</button>
												</div>
											</div>
										</div>
										<div class="table-responsive" style="height: 504px;">
											<div id="TB09090S_colCpc1" ></div>
											<div id="TB09090S_colCpc2" ></div>
											<div id="TB09090S_colCpc3" ></div>
											<!-- <table class="table table-bordered table-hover" id="table1" style="display: none;width: 1300%;">
												
												<thead class="text-center">
													<tr>
														<th>분류</th>
														<th colspan="3">회사정보</th>
														<th colspan="50">공통항목 (모두기재)</th>
														<th colspan="52">PF 위험평가 (PF만 기재)</th>
														<th colspan="11">Non-PF 위험평가 (PF이외 기재)</th>
														<th colspan="5">기타항목</th>
													</tr>
													<tr>
														<th rowspan="2">항목</th>
														<th rowspan="2">회사명</th>
														<th rowspan="2">금융회사코드</th>
														<th rowspan="2">작성기준년월</th>
														<th colspan="10">계약정보</th>
														<th colspan="4">부동산 개발사업(PF)</th>
														<th colspan="9">부동산 정보</th>
														<th colspan="8">피보증주체 & 유동화증권 정보</th>
														<th colspan="3">LTV</th>
														<th colspan="3">부동산 가치 (value)</th>
														<th colspan="5">변제순위 등</th>
														<th colspan="8">신용보강</th>
														<th colspan="13">PF시행정보</th>
														<th colspan="4">수익형(상업용) 부동산 정보</th>
														<th colspan="18">대주단 정보</th>
														<th colspan="2">사업승인위험평가</th>
														<th colspan="11">준공위험평가</th>
														<th colspan="4">시장위험평가</th>
														<th colspan="2">주거용 부동산</th>
														<th colspan="9">상업용(수익형) 부동산</th>
														<th rowspan="2">NCR 위험값</th>
														<th rowspan="2">NCR 위험액</th>
														<th rowspan="2">작성자 이름</th>
														<th rowspan="2">작성자 부서</th>
														<th rowspan="2">작성자 전화번호</th>
													</tr>
													<tr>
														<th>계약명칭</th>
														<th>계약일</th>
														<th>만기일</th>
														<th>계약유형1 (유동성/신용공여형)</th>
														<th>계약유형2 (매입약정 등)</th>
														<th>계약유형1 (유동성/신용공여형)</th>
														<th>최초 약정금액</th>
														<th>현재 약정잔액</th>
														<th>채무보증 수수료(금액)</th>
														<th>채무보증이행여부</th>
														<th>PF 여부</th>
														<th>PF유형1</th>
														<th>PF유형2</th>
														<th>PF유형3</th>
														<th>기초자산 형태(대분류)</th>
														<th>기초자산 형태(소분류)</th>
														<th>부동산유형(공통)</th>
														<th>부동산소재지</th>
														<th>부동산소재지 우편번호</th>
														<th>부동산 주소</th>
														<th>해외소재 국가 (회외인경우)</th>
														<th>해외소재 도시 (회외인경우)</th>
														<th>미분양관리지역해당여부(현재)</th>
														<th>피보증주체</th>
														<th>피보증주체 법인등록번호</th>
														<th>유동화증권 보증 여부</th>
														<th>유동화증권 명칭</th>
														<th>유동화증권 종류</th>
														<th>유동화증권 발행일자</th>
														<th>유동화증권 액면금액</th>
														<th>유동화증권 발행금리</th>
														<th>LTV(최초투자시점)</th>
														<th>LTV(작성기준일 현재)</th>
														<th>LTV 산출방법</th>
														<th>감정가 기준</th>
														<th>분양가(총매출액) 기준</th>
														<th>심사팀추정가 기준</th>
														<th>변제순위</th>
														<th>임대보증금(총액)</th>
														<th>선순위 금액</th>
														<th>동순위 금액</th>
														<th>후순위 금액</th>
														<th>타사 신용보강</th>
														<th>타사 신용보강 수단</th>
														<th>신용보강회사(1)</th>
														<th>신용보강회사(1) 법인등록번호</th>
														<th>신용보강회사(1) 기업신용등급</th>
														<th>신용보강회사(2)</th>
														<th>신용보강회사(2) 법인등록번호</th>
														<th>신용보강회사(2) 기업신용등급</th>
														<th>시행사</th>
														<th>시행사 법인등록번호</th>
														<th>PF시행형태</th>
														<th>PF단계(1) (사업승인 전/후)</th>
														<th>PF단계(2) (착공 전/후)</th>
														<th>PF단계(3) (분양 전/후)</th>
														<th>PF단계(4) (준공 전/후)</th>
														<th>총사업비</th>
														<th>총매출액</th>
														<th>자기자본(equity)</th>
														<th>단위면적당(㎡) 분양가</th>
														<th>중도금 상환비율</th>
														<th>분양 또는 임대가능 총면적(㎡)</th>
														<th>예상 공실률</th>
														<th>예상 임대수익/㎡</th>
														<th>예상 임대비용/㎡</th>
														<th>예상 순영업수익(NOI)</th>
														<th>PF대주단 총 대출금</th>
														<th>PF대주단 참여기관 수</th>
														<th>PF대주단 대출 만기일</th>
														<th>대주#1: 대주기관</th>
														<th>대주#1: 대주기관 법인등록번호</th>
														<th>대주#1: 대출금액</th>
														<th>대주#2: 대주기관</th>
														<th>대주#2: 대주기관 법인등록번호</th>
														<th>대주#2: 대출금액</th>
														<th>대주#3: 대주기관</th>
														<th>대주#3: 대주기관 법인등록번호</th>
														<th>대주#3: 대출금액</th>
														<th>대주#4: 대주기관</th>
														<th>대주#4: 대주기관 법인등록번호</th>
														<th>대주#4: 대출금액</th>
														<th>대주#5: 대주기관</th>
														<th>대주#5: 대주기관 법인등록번호</th>
														<th>대주#5: 대출금액</th>
														<th>사업승인 신청일 (인허가 신청일)</th>
														<th>토지매입률 (면적기준)</th>
														<th>책임준공확약 여부</th>
														<th>책임준공확약 기관</th>
														<th>책임준공확약 기관 법인등록번호</th>
														<th>책임준공확약 기관 기업신용등급</th>
														<th>시공사 명칭</th>
														<th>시공사 법인등록번호</th>
														<th>시공사 기업신용등급</th>
														<th>착공일</th>
														<th>준공일(사용승인일)</th>
														<th>계획공정률</th>
														<th>실행공정률</th>
														<th>분양률(분양가 기준)</th>
														<th>분양개시일</th>
														<th>입주율(분양가기준,작성기준현재)</th>
														<th>Exit 분양률 (작성기준일 현재)</th>
														<th>전용면적</th>
														<th>전용면적(㎡)당 단가</th>
														<th>임대가능 총면적</th>
														<th>공실률 ('20.6월말 현재')</th>
														<th>임대수익/㎡</th>
														<th>임대비용/㎡</th>
														<th>순영업수익 (NOI)/연(자동계산)</th>
														<th>순영업수익 (NOI)/연(회사제출)</th>
														<th>부동산관련총대출이자(금융비용)</th>
														<th>부동산 관련 총대출 원리금</th>
														<th>Cap Rate</th>
													</tr>
												</thead>
												<tbody id="TB09090S_cpcList">
													<tr>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
											<table class="table table-bordered table-hover" id="table2" style="display: none;width: 1300%;">
												
												<thead class="text-center">
													<tr>
														<th>분류</th>
														<th colspan="3">회사정보</th>
														<th colspan="49">공통항목(모두기재)</th>
														<th colspan="52">PF 위험평가 (PF만 기재)</th>
														<th colspan="11">Non-PF 위험평가 (PF이외 기재)</th>
														<th colspan="5">기타항목</th>
													</tr>
													<tr>
														<th rowspan="2">항목</th>
														<th rowspan="2">회사명</th>
														<th rowspan="2">금융회사코드</th>
														<th rowspan="2">작성기준년월</th>
														<th colspan="9">계약정보</th>
														<th colspan="4">부동산 개발사업(PF)</th>
														<th colspan="9">부동산 정보</th>
														<th colspan="8">피보증주체 & 유동화증권 정보</th>
														<th colspan="3">LTV</th>
														<th colspan="3">부동산 가치 (value)</th>
														<th colspan="5">변제순위 등</th>
														<th colspan="8">신용보강</th>
														<th colspan="13">PF시행정보</th>
														<th colspan="4">수익형(상업용) 부동산 정보</th>
														<th colspan="18">대주단 정보</th>
														<th colspan="2">사업승인위험평가</th>
														<th colspan="11">준공위험평가</th>
														<th colspan="4">시장위험평가</th>
														<th colspan="2">주거용 부동산</th>
														<th colspan="9">상업용(수익형) 부동산</th>
														<th rowspan="2">NCR 위험값</th>
														<th rowspan="2">NCR 위험액</th>
														<th rowspan="2">작성자 이름</th>
														<th rowspan="2">작성자 부서</th>
														<th rowspan="2">작성자 전화번호</th>
													</tr>
													<tr>
														<th>계약명칭</th>
														<th>계약일</th>
														<th>만기일</th>
														<th>계약유형1 (유동성/신용공여형)</th>
														<th>계약유형2 (매입약정 등)</th>
														<th>최초 약정금액</th>
														<th>현재 약정잔액</th>
														<th>채무보증 수수료(금액)</th>
														<th>채무보증이행여부</th>
														<th>PF 여부</th>
														<th>PF유형1</th>
														<th>PF유형2</th>
														<th>PF유형3</th>
														<th>기초자산 형태(대분류)</th>
														<th>기초자산 형태(소분류)</th>
														<th>부동산유형(공통)</th>
														<th>부동산소재지</th>
														<th>부동산소재지 우편번호</th>
														<th>부동산 주소</th>
														<th>해외소재 국가 (회외인경우)</th>
														<th>해외소재 도시 (회외인경우)</th>
														<th>미분양관리지역해당여부(현재)</th>
														<th>피보증주체</th>
														<th>피보증주체 법인등록번호</th>
														<th>유동화증권 보증 여부</th>
														<th>유동화증권 명칭</th>
														<th>유동화증권 종류</th>
														<th>유동화증권 발행일자</th>
														<th>유동화증권 액면금액</th>
														<th>유동화증권 발행금리</th>
														<th>LTV(최초투자시점)</th>
														<th>LTV(작성기준일 현재)</th>
														<th>LTV 산출방법</th>
														<th>감정가 기준</th>
														<th>분양가(총매출액) 기준</th>
														<th>심사팀추정가 기준</th>
														<th>변제순위</th>
														<th>임대보증금(총액)</th>
														<th>선순위 금액</th>
														<th>동순위 금액</th>
														<th>후순위 금액</th>
														<th>타사 신용보강</th>
														<th>타사 신용보강 수단</th>
														<th>신용보강회사(1)</th>
														<th>신용보강회사(1) 법인등록번호</th>
														<th>신용보강회사(1) 기업신용등급</th>
														<th>신용보강회사(2)</th>
														<th>신용보강회사(2) 법인등록번호</th>
														<th>신용보강회사(2) 기업신용등급</th>
														<th>시행사</th>
														<th>시행사 법인등록번호</th>
														<th>PF시행형태</th>
														<th>PF단계(1) (사업승인 전/후)</th>
														<th>PF단계(2) (착공 전/후)</th>
														<th>PF단계(3) (분양 전/후)</th>
														<th>PF단계(4) (준공 전/후)</th>
														<th>총사업비</th>
														<th>총매출액</th>
														<th>자기자본(equity)</th>
														<th>단위면적당(㎡) 분양가</th>
														<th>중도금 상환비율</th>
														<th>분양 또는 임대가능 총면적(㎡)</th>
														<th>예상 공실률</th>
														<th>예상 임대수익/㎡</th>
														<th>예상 임대비용/㎡</th>
														<th>예상 순영업수익(NOI)</th>
														<th>PF대주단 총 대출금</th>
														<th>PF대주단 참여기관 수</th>
														<th>PF대주단 대출 만기일</th>
														<th>대주#1: 대주기관</th>
														<th>대주#1: 대주기관 법인등록번호</th>
														<th>대주#1: 대출금액</th>
														<th>대주#2: 대주기관</th>
														<th>대주#2: 대주기관 법인등록번호</th>
														<th>대주#2: 대출금액</th>
														<th>대주#3: 대주기관</th>
														<th>대주#3: 대주기관 법인등록번호</th>
														<th>대주#3: 대출금액</th>
														<th>대주#4: 대주기관</th>
														<th>대주#4: 대주기관 법인등록번호</th>
														<th>대주#4: 대출금액</th>
														<th>대주#5: 대주기관</th>
														<th>대주#5: 대주기관 법인등록번호</th>
														<th>대주#5: 대출금액</th>
														<th>사업승인 신청일 (인허가 신청일)</th>
														<th>토지매입률 (면적기준)</th>
														<th>책임준공확약 여부</th>
														<th>책임준공확약 기관</th>
														<th>책임준공확약 기관 법인등록번호</th>
														<th>책임준공확약 기관 기업신용등급</th>
														<th>시공사 명칭</th>
														<th>시공사 법인등록번호</th>
														<th>시공사 기업신용등급</th>
														<th>착공일</th>
														<th>준공일(사용승인일)</th>
														<th>계획공정률</th>
														<th>실행공정률</th>
														<th>분양률(분양가 기준)</th>
														<th>분양개시일</th>
														<th>입주율(분양가기준,작성기준현재)</th>
														<th>Exit 분양률 (작성기준일 현재)</th>
														<th>전용면적</th>
														<th>전용면적(㎡)당 단가</th>
														<th>임대가능 총면적</th>
														<th>공실률 ('20.6월말 현재')</th>
														<th>임대수익/㎡</th>
														<th>임대비용/㎡</th>
														<th>순영업수익 (NOI)/연(자동계산)</th>
														<th>순영업수익 (NOI)/연(회사제출)</th>
														<th>부동산관련총대출이자(금융비용)</th>
														<th>부동산 관련 총대출 원리금</th>
														<th>Cap Rate</th>
													</tr>
												</thead>
												<tbody id="TB09090S_cpcList">
													<tr>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
											<table class="table table-bordered table-hover" id="table3" style="width: 550%;">
												<thead class="text-center">
													<tr>
														<th>분류</th>
														<th colspan="3">회사정보</th>
														<th colspan="6">계약정보 (공통)</th>
														<th colspan="7">부동산정보(공통, 유동화증권 기재)</th>
														<th colspan="9">부동산펀드정보(부동산펀드 선택)</th>
														<th colspan="5">REITs 정보 (REITs 선택시)</th>
														<th colspan="12">유동화증권정보(유동화증권 선택)</th>
														<th colspan="4">기타 정보 (기타 유형 선택시)</th>
														<th colspan="5">기타</th>
													</tr>
													<tr>
														<th>항목</th>
														<th>회사명</th>
														<th>금융회사코드</th>
														<th>작성기준년월</th>
														<th>투자형태1</th>
														<th>부동산펀드/REITs 투자형태2</th>
														<th>PF 여부</th>
														<th>사회기반시설(SOC) 여부</th>
														<th>최초 투자일</th>
														<th>투자 종료일(계약 종료일)</th>
														<th>부동산유형</th>
														<th>부동산 개발사업(PF) 유형1</th>
														<th>부동산 개발사업(PF) 유형2</th>
														<th>부동산소재지</th>
														<th>해외소재 국가(해외인 경우)</th>
														<th>해외소재 도시(해외인 경우)</th>
														<th>부동산소재지 우편번호</th>
														<th>펀드명칭</th>
														<th>펀드코드(금투협회 펀드코드)</th>
														<th>자산운용사</th>
														<th>재간접펀드여부</th>
														<th>블라인드펀드 여부</th>
														<th>펀드 투자금액</th>
														<th>펀드 평가금액(작성기준일 현재)</th>
														<th>공/사모 구분</th>
														<th>통화(currency)</th>
														<th>REITs 명칭</th>
														<th>REITs 투자금액</th>
														<th>REITs 평가금액(작성기준일 현재)</th>
														<th>공/사모 구분</th>
														<th>통화(currency)</th>
														<th>유동화증권 명칭</th>
														<th>유동화증권 종류</th>
														<th>유동화증권 발행기관</th>
														<th>유동화증권발행기관 법인등록번호</th>
														<th>발행일자</th>
														<th>액면금액</th>
														<th>발행금리</th>
														<th>신용보강기관</th>
														<th>신용보강기관 법인등록번호</th>
														<th>신용보강형태</th>
														<th>신용등급(신용평가결과)</th>
														<th>신용등급(신용평가결과)</th>
														<th>계약명칭</th>
														<th>거래상대방</th>
														<th>투자금액(원금)</th>
														<th>평가금액(작성기준일 현재)</th>
														<th>NCR 위험값</th>
														<th>NCR 위험액</th>
														<th>작성자 이름</th>
														<th>작성자 부서</th>
														<th>작성자 전화번호</th>
													</tr>
												</thead>
												<tbody id="TB09090S_cpcList">
													<tr>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table> -->
										</div>
									</div>
								</div>
							</div>
						</div>
						 <div class="row">
							<div class="col-sm-12 clearfix">
								<!-- <div class="float-left">
									<button class="btn btn-default" onclick="testAlert('저장을 완료하였습니다.')">
										금융감독원보고서확정조회
									</button>
									<button class="btn btn-default" onclick="testAlert('저장을 완료하였습니다.')">
										보고대상목록조회
									</button>
								</div> -->
								<div class="float-right">
									<!-- <button class="btn btn-default" onclick="testAlert('저장을 완료하였습니다.')">
										<i class="fa fa-save"></i>&nbsp;엑셀코드명저장
									</button> -->
									<button class="btn btn-default" id="uploadExcel" onclick="TB09090Sjs.cpcExcelDownload();">
										<i class="fa fa-save"></i>&nbsp;서식다운로드
									</button>
									<button class="btn btn-default" id="export-btn" onclick="TB09090Sjs.pqExportExcel();">
										<i class="fa fa-save"></i>&nbsp;엑셀저장
									</button>
									<button class="btn btn-default" id="TB09090S_upload_btn">
										엑셀읽기(*.xls)
									</button>
									<div style="display:none;">
										<input type="file" class="custom-file-input" id="upload-file-input-TB09090S" name="uploadfile" accept="*">
									</div>
									<button class="btn btn-default" id="TB09090S_dl_btn" onclick="TB09090Sjs.insertCpc1Data();">
										저장
									</button>
								</div>
						 	</div>
						</div>
					</div>
				</div>
				<!-- ibox -->
			</div>
		</div>
		<!-- row -->
	</div>
</th:block>

</html>