<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/tb/TB10110S.js}"></script>
    <script th:src="@{js/business/popup/AC01130P.js}"></script>
    <script th:src="@{js/business/popup/AC01120P.js}"></script>
    <script th:src="@{js/business/tb/TB03022P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/popup/AC01130P :: AC01130P"></th:block>
	<th:block th:replace="business/popup/AC01120P :: AC01120P"></th:block>
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 사용자관리 -->
    <div class="wrapper wrapper-content animated fadeIn">
    	<div class="row">
    		<!-- 조회영역 -->
    		<div class="col-lg-12">
    			<div class="ibox ">
   					<div class="ibox-content i-filter">
	   					<div class="row form-group form-inline text-right">
	   						<div class="col-sm-12 input-group">
	                            <label class="col-sm-1 control-label">권한구분</label>
								<div class="col-sm-2">
									<div class="input-group">
										<select class="form-control m-b" id="TB10110S_rghtCd">
											<option value="">전체</option>
									 </select>
									</div>
								</div>
	                       		<label class="col-sm-1 col-form-label ls-15">직원명(사번)</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control text-right" id="empNm">
								</div>
								<label class=" control-label" for="TB05030S_chkF">
									<input type="checkbox" id="TB10110S_dltY"> 과거이력포함
								</label>
								<div class="col-sm-1 text-right">
									<button class="btn btn-primary" onclick="TB10110Sjs.runFindUser();">
										<i class="fa fa-search"></i>&nbsp;조회</button>
								</div>
	                       	</div>
	   					</div>
	   				</div>
	   				<!-- 조회결과 -->
	   				<div class="ibox-content" style="height: 850px;">
	   					<div class="col-sm-12 text-right mb-1">		                       		
	                   		<button class="btn btn-info btn-xs" type="button" onclick="callAC01130P()"><i class="fa fa-user"></i>&nbsp;사용자추가</button>
	                   	</div>
	                   	<div style="height: 800px; overflow:auto">
	                   		<!-- <table class="table table-bordered">
	               				<colgroup>
				                    <col>
				                    <col>
				                    <col>
				                    <col>
				                    <col>
				                    <col>
				                    <col>
				                    <col>
				                    <col>
				                    <col>
				                </colgroup>
				                <thead>
				                    <tr>
				                        <th>사용자구분</th>
				                        <th>사번</th>
				                        <th>직원명</th>
				                        <th>직책</th>
				                        <th>권한</th>
				                        <th>적용시작일</th>
				                        <th>회수(예정)일</th>
				                        <th>등록사유</th>
				                        <th>등록자</th>
				                        <th>최종처리자</th>
				                    </tr>
								</thead>
								<tbody id="TB10110S_tbodyUserList">
								</tbody>
	                   		</table> -->
							<div id="TB10110S_userList"></div>
	                   	</div>
	   				</div>
    			</div>
    		</div>
    	</div>
    </div>
</th:block>

</html>