<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/business/ab/AB01021S.js}"></script>
	
</th:block>

<th:block layout:fragment="customContent">

	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<!-- DPR등록  -->
				<div class="ibox">
					<div class="ibox-content">
						<!-- 버튼영역 -->
						<div class="text-right mb-2">
							<button id="" class="btn btn-warning mr-1" onclick="">
								<i class="fa fa-unlock"></i>&nbsp;비밀글 설정
							</button>
							<button id="" class="btn btn-primary mr-1" onclick="">
								<i class="fa fa-search"></i>&nbsp;불러오기
							</button>
							<button id="" class="btn btn-default mr-1" onclick="">
								<i class="fa fa-undo"></i>&nbsp;초기화
							</button>
							<button id="" class="btn btn-info mr-1" onclick="">
								<i class="fa fa-save"></i>&nbsp;임시저장
							</button>
							<button id="" class="btn btn-success" onclick="">
								<i class="fa fa-check"></i>&nbsp;신규 등록
							</button>
						</div>
						<div class="row">
							<!-- 왼쪽 레이아웃 -->
							<div class="col-lg-6">
								<!-- 담당자정보 -->
								<div class="ibox">
									<div class="ibox-title">
										<h5>담당자정보</h5>
									</div>
									<div class="ibox-content text-right">
										<div class="row inputgroup">
											<label class="col-sm-2 col-form-label">소속부서</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-2 col-form-label">담당자</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<!-- 공동영업관리자/협업부서-->
								<div class="ibox">
									<div class="ibox-title">
										<div class="btn-wrap">
											<h5>공동영업관리자/협업부서</h5>
											<div class="ibox-tools">
												<button id="comAdminBtn" class="btn btn-success btn-xs" onclick="">공동영업관리자 등록</button>
												<button id="comDprtBtn" class="btn btn-success btn-xs" style="display: none;" onclick="">협업부서 등록</button>
												<button id="dsgnUsrBtn" class="btn btn-success btn-xs" style="display: none;" onclick="">지정조회자 등록</button>
											</div>
										</div>
									</div>
									<div class="ibox-content">
										<div class="tabs-container mb-0">
											<ul class="nav nav-tabs" role="tablist" id="ramsTab">
												<li><a class="nav-link active" data-toggle="tab" id="comAdminTab" href="#tab1_1">공동영업관리자(0)</a></li>
												<li><a class="nav-link" data-toggle="tab" id="comDprtTab" href="#tab1_2">협업부서(0)</a></li>
												<li><a class="nav-link" data-toggle="tab" id="dsgnUsrTab" href="#tab1_3">지정조회자(0)</a></li>
											</ul>
											<div class="tab-content">
												<!-- 공동영업관리자 -->
												<div role="tabpanel" class="tab-pane active" id="tab1_1">
													<div class="panel-body">
														<div class="tableFixHeader1" style="height: 20vh;">
															<table class="table result table-bordered">
																<thead class="text-center">
																	<tr>
																		<th>순번</th>
																		<th>부서명</th>
																		<th>공동영업관리자</th>
																		<th>공헌도(%)</th>
																		<th>삭제</th>
																	</tr>
																</thead>
																<tbody id="">
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<!-- 협업부서 -->
												<div role="tabpanel" class="tab-pane " id="tab1_2">
													<div class="panel-body">
														<div class="tableFixHeader1" style="height: 20vh;">
															<table class="table result table-bordered">
																<thead class="text-center">
																	<tr>
																		
																	</tr>
																</thead>
																<tbody id="">
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<!-- 공동영업관리자 -->
												<div role="tabpanel" class="tab-pane " id="tab1_3">
													<div class="panel-body">
														<div class="tableFixHeader1" style="height: 20vh;">
															<table class="table result table-bordered">
																<thead class="text-center">
																	<tr>
																		
																	</tr>
																</thead>
																<tbody id="">
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 업체 정보 -->
								<div class="ibox">
									<div class="ibox-title">
										<h5>업체정보</h5>
									</div>
									<div class="ibox-content text-right">
										<!-- 업체명 -->
										<div class="input-group row mb-1">
											<label class="col-sm-2 col-form-label"><span class="req"></span>업체명</label>
											<div class="col-sm-10">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-append">
														<button type="button" id="" class="btn btn-default " onclick=""><i
																class="fa fa-search"></i></button>
														<button type="button" id="" class="btn btn-default" onclick=""><i
																class="fa fa-eraser"></i></button>
														<button type="button" id="" class="btn btn-default" onclick=""><i
																class="fa fa-info"></i></button>
													</span>
												</div>
											</div>
										</div>
										<!-- 법인번호&기업규모 -->
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">법인번호</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-2 col-form-label">기업규모</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 업종&계열 -->
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">업종</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-2 col-form-label">계열</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 신용등급&상장시장 -->
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">신용등급</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-2 col-form-label">상장시장</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<!-- Deal 기본정보 -->
								<div class="ibox">
									<div class="ibox-title">
										<div class="btn-wrap">
											<h5>Deal 기본정보</h5>
											<div>
												<span class="req"></span>
												상장기업의 미공개 정보와 사항은 각별히 주의하여 기입
											</div>
										</div>
									</div>
									<div class="ibox-content text-right">
										<div class="input-group row">
											<label class="col-sm-2 col-form-label"><span class="req"></span>Deal 명</label>
											<div class="col-sm-10">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">진행현황</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>BOOK
											</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
										</div>
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>상품1
											</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>상품2
											</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
										</div>
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>상품3
											</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>상품상세
											</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
										</div>
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>협업유형
											</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
											<label class="col-sm-2 col-form-label">은행지점</label>
											<div class="col-sm-4 mb-1">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-append">
														<button type="button" id="" class="btn btn-default " onclick=""><i
																class="fa fa-search"></i></button>
														<button type="button" id="" class="btn btn-default" onclick=""><i
																class="fa fa-eraser"></i></button>
													</span>
												</div>
											</div>
										</div>
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">국가</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
											<label class="col-sm-2 col-form-label">도시</label>
											<div class="col-sm-4">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>Deal 내용<br>
												<button id="" class="btn btn-success btn-xs" onclick="">
													내용<br>업데이트
												</button>
											</label>
											<div class="col-sm-10">
												<textarea class="form-control" style="width: 100%; height: 200px;" 
													placeholder="1. 사업개요&#10;- 본 건은&#10;- 당사자는&#10;&#10;2. Deal 구조&#10;-&#10;&#10;3. 예상수익"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 ibox">
						    					<div class=" ibox-title text-left " style="background-color: #ffffff">
						    						<h5>파일첨부</h5>
							    					<div class="ibox-tools">
							    						<th:block layout:fragment="file">
															<div th:replace="layout/fragments/common :: file"></div>
														</th:block>
							                       	</div>
						    					</div>
						    					
							    				<div class="ibox-content">
							    					<table class="table table-bordered">
							    						<colgroup>
											                    <col style="width: 5%;">
											                    <col style="width: 75%;">
											                    <col style="width: 20%;">
											            </colgroup>
														<thead class="text-center">
															<tr>
																<th></th>
																<th>파일명</th>
																<th>등록일자</th>
															</tr>
														</thead>
														<tbody id="">
														</tbody>
													</table>
													<div class="text-right">
														* 첨부가능한 파일 형식 : 각종문서(MS-Office,HWP,PDF,Image,Text파일 등)<br>
														(※ Zip파일 첨부 불가)
													</div>
							    				</div>
							    			</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 오른쪽 레이아웃 -->
							<div class="col-lg-6">
								<!-- Deal 수익정보 -->
								<div class="ibox">
									<div class="ibox-title">
										<div class="btn-wrap">
											<h5>Deal 수익정보</h5>
											<div class="checkbox-wrap">
												<label for="" class="col-form-label">
													<input type="checkbox">Deal규모 미정
												</label>
												<label for="" class="col-form-label">
													<input type="checkbox">참여규모 미정
												</label>
											</div>
										</div>
									</div>
									<div class="ibox-content text-right">
										<div class="input-group row mb-1">
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>Deal 규모
											</label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-addon border-none">백만원</span>
												</div>
											</div>
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>참여규모
											</label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-addon border-none">백만원</span>
												</div>
											</div>
										</div>
										<div class="input-group row mb-1">
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>전체수익
												<i class="fa fa-question-circle"></i>
											</label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-addon border-none">백만원</span>
												</div>
											</div>
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>당해수익
												<i class="fa fa-question-circle"></i>
											</label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-addon border-none">백만원</span>
												</div>
											</div>
										</div>
										<div class="input-group row mb-1">
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>기표수익
												<i class="fa fa-question-circle"></i>
											</label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-addon border-none">백만원</span>
												</div>
											</div>
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>On-going
												<i class="fa fa-question-circle"></i>
											</label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-addon border-none">백만원</span>
												</div>
											</div>
										</div>
										<div class="input-group row mb-1">
											<label class="col-sm-2 col-form-label">
												<span class="req"></span>기표일자
											</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control">
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
											<label class="col-sm-3 col-form-label">
												<span class="req"></span>만기일자
											</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control">
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
										</div>
										<div class="input-group row mb-1">
											<label class="col-sm-2 col-form-label">통화코드</label>
											<span class="col-sm-4">
												<select class="form-control">
												</select>
											</span>
											<label class="col-sm-2 col-form-label">통화금액</label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-addon border-none">백만&nbsp;&nbsp;&nbsp;&nbsp;</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Selldown 정보 -->
								<div class="ibox">
									<!-- Selldown 정보 -->
									<div class="ibox-title">
										<h5>Selldown 정보</h5>
										<div class="ibox-tools">
											<button id="" class="btn btn-success btn-xs" onclick="">Selldown 등록</button>
										</div>
									</div>
									<div class="ibox-content">
										<div class="tableFixHeader2">
											<table class="table result table-bordered">
												<thead class="text-center">
													<tr>
														<th>순번</th>
														<th>Selldown일자</th>
														<th>Selldown금액(백만원)</th>
														<th>Selldown잔액(백만원)</th>
														<th>삭제</th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
								<!-- Deal 기타정보 -->
								<div class="ibox">
									<div class="ibox-title">
										<h5>Deal 기타정보</h5>
									</div>
									<div class="ibox-content text-right">
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">시공사</label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-append">
														<button type="button" id="" class="btn btn-default " onclick=""><i
																class="fa fa-search"></i></button>
														<button type="button" id="" class="btn btn-default" onclick=""><i
																class="fa fa-eraser"></i></button>
													</span>
												</div>
											</div>
											<label class="col-sm-2 col-form-label">신용보감여부</label>
											<div class="col-sm-4">
												<select class="form-control">
												</select>
											</div>
										</div>
										<div class="input-group row">
											<label class="col-sm-2 col-form-label">LTV</label>
											<span class="col-sm-4 input-group">
												<input type="text" class="form-control" id="">
												<span class="input-group-addon border-none">%</span>
											</span>
											<label class="col-sm-3 col-form-label">
												<span class="req"></span>해외현지법인협업
											</label>
											<div class="col-sm-3">
												<select class="form-control">
												</select>
											</div>
										</div>
										<div class="row input-group">
											<label class="col-sm-2 col-form-label">비고</label>
											<div class="col-sm-10">
												<div class="input-group">
													<textarea class="form-control"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 관련 보고서-->
								<div class="ibox">
									<div class="ibox-title">
										<div class="btn-wrap">
											<h5>관련 보고서</h5>
											<div class="ibox-tools">
												<button id="saveCallBtn" class="btn btn-success btn-xs" onclick="">관련 CALL 등록</button>
												<button id="saveDprBtn" class="btn btn-success btn-xs" style="display: none;" onclick="">관련 DPR 등록</button>
											</div>
										</div>
									</div>
									<div class="ibox-content ">
										<div class="tabs-container mb-0">
											<ul class="nav nav-tabs" role="tablist" id="ramsTab">
												<li><a class="nav-link active" data-toggle="tab" id="callTab" href="#tab2_1">CALL</a></li>
											<li><a class="nav-link" data-toggle="tab" id="dprTab" href="#tab2_2">DPR</a></li>
											</ul>
											<div class="tab-content">
												<!-- CALL -->
												<div role="tabpanel" class="tab-pane active" id="tab2_1">
													<div class="panel-body">
														<div class="tableFixHeader1" style="height: 20vh;">
															<table class="table result table-bordered">
																<thead class="text-center">
																	<tr>
																		<th>순번</th>
																		<th>미팅일자</th>
																		<th>부서명</th>
																		<th>담당자</th>
																		<th>미팅제목</th>
																		<th>업체명</th>
																		<th>삭제</th>
																	</tr>
																</thead>
																<tbody id="">
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<!-- DPR -->
												<div role="tabpanel" class="tab-pane " id="tab2_2">
													<div class="panel-body">
														<div class="tableFixHeader1" style="height: 20vh;">
															<table class="table result table-bordered">
																<thead class="text-center">
																	<tr>
																		
																	</tr>
																</thead>
																<tbody id="">
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>