<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>

</th:block>

<th:block layout:fragment="customContent">
	<!-- IPO예상업체 영업현황  -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<!--조회영역 -->
					<div class="ibox-content mb-2 text-right">
						<div class="form-group row form-inline">
							<!-- 버튼영역 -->
							<div class="col-lg-12 text-right mb-1">
								<button class="btn btn-default" id="" onclick="">
									<i class="fa fa-undo"></i>&nbsp;초기화
								</button>
								<button class="btn btn-warning btn">
									<i class="fa fa-file-excel-o"></i>&nbsp;Excel
								</button>
								<button class="btn btn-primary">
									<i class="fa fa-search"></i>&nbsp;조회
								</button>
							</div>
							<!-- 등록일자 -->
							<label class="col-sm-1 col-form-label mb-1">등록일자</label>
							<div class="col-sm-3 input-group date mb-1">
								<div class="col-sm-5 input-group date px-0">
									<input type="text" class="form-control" id="" name="FromDate" value="" placeholder="시작일" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
								<span class="input-group-addon" style="border:0;"> ~ </span>
								<div class="col-sm-5 input-group date px-0">
									<input type="text" class="form-control" id="" name="ToDate" value="" placeholder="종료일" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>	
							</div>
							<div class="col-sm-2 input-group mb-1">
								<button class="btn btn-default mr-1">1주일</button>
								<button class="btn btn-default mr-1">1개월</button>
								<button class="btn btn-default mr-1">1년</button>
								<button class="btn btn-default">2년</button>
							</div>
							<!-- 소속본부 -->
							<label class="col-sm-1 col-form-label">소속본부</label>
							<div class="col-sm-2 input-group">
								<select class="form-control">
								</select>
							</div>
							<!-- 소속부서 -->
							<label class="col-sm-1 col-form-label">소속부서</label>
							<div class="col-sm-2 input-group">
								<input type="text" class="form-control">
								<span class="input-group-append">
									<button type="button" id="" class="btn btn-default " onclick="">
										<i class="fa fa-search"></i>
									</button>
									<button type="button" id="" class="btn btn-default" onclick="">
										<i class="fa fa-eraser"></i>
									</button>
								</span>
							</div>
							<!-- (공동영업)관리자 -->
							<label class="col-sm-1 col-form-label">(공동영업) 관리자</label>
							<div class="col-sm-2 input-group">
								<input type="text" class="form-control">
								<span class="input-group-append">
									<button type="button" id="" class="btn btn-default " onclick="">
										<i class="fa fa-search"></i>
									</button>
									<button type="button" id="" class="btn btn-default" onclick="">
										<i class="fa fa-eraser"></i>
									</button>
								</span>
							</div>
							<!-- 업체명 -->
							<label class="col-sm-1 col-form-label">업체명</label>
							<div class="col-sm-2 input-group">
								<input type="text" class="form-control">
								<span class="input-group-append">
									<button type="button" id="" class="btn btn-default " onclick="">
										<i class="fa fa-search"></i>
									</button>
									<button type="button" id="" class="btn btn-default" onclick="">
										<i class="fa fa-eraser"></i>
									</button>
								</span>
							</div>
							<!-- IPO 진행현황 -->
							<label class="col-sm-1 col-form-label">IPO 진행현황</label>
							<div class="col-sm-2 input-group">
								<select class="form-control">
								</select>
								<select class="form-control">
								</select>
							</div>
							<!-- Deal 진행현황 -->
							<label class="col-sm-1 col-form-label">Deal 진행현황</label>
							<div class="col-sm-2 input-group">
								<select class="form-control">
								</select>
							</div>
							<!-- 댓글/비밀글 여부 -->
							<label class="col-sm-1 control-label">
								<h5>댓글/비밀글 여부</h5>
							</label>
							<div class="col-sm-2 input-group">
								<label for="" class="control-label">
									<input type="checkbox">댓글여부
								</label>
								<label for="secret" class="control-label">
									<input type="checkbox" name="secret">비밀글여부
								</label>
							</div>
							<div class="col-sm-9"></div>
						</div>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-content">
						<div class="tableFixHeader">
							<div class="col-sm-12 text-right mb-1 ">
								(단위:억원)
							</div>
							<table class="table result table-bordered">
								<thead class="text-center">
									<tr>
										<th>순번</th>
										<th>기업명</th>
										<th>기업규모</th>
										<th>부서명</th>
										<th>담당자</th>
										<th>공동영업관리자</th>
										<th>(예상)상장시점</th>
										<th>(예상)기준시총</th>
										<th>(예상)공모규모</th>
										<th>Deal진행현황</th>
										<th>IPO진행현황</th>
										<th>댓글갯수</th>
										<th>답글갯수</th>
										<th>조회수</th>
										<th>관련CR수</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>