<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{/js/business/ds/DS01030S.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
</th:block>

<th:block layout:fragment="customContent">
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<!-- ibox -->
				<div class="ibox">
					<div class="ibox-content">
						<div class="ibox">
							<div class="ibox-title">
								<h5>▶&nbsp;검색조건</h5>
							</div>
							<div class="ibox-content">
								<!-- row1 -->
								<div class="row form-group form-inline text-right">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">펀드코드</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width:30px;" id="TB07010S_담당자정사번">
											<span class="input-group-append">
												<button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
											</span>
											<input type="text" class="form-control" style="width:70px;" id="TB07010S_담당자정이름" readonly>
										</div>
										<label class="col-sm-1 col-form-label text-right">계열구분</label>
										<div class="col-sm-2 input-group">
											<select class="form-control">
												<option>전체</option>
											</select>
										</div>
										<div class="col-sm-5 text-right">
											<button class="btn btn-primary" type="button" onclick="getDetailInfo();"><i class="fa fa-search"></i>&nbsp;조회</button>
											<button class="btn btn-success" type="button" onclick="getDetailInfo();"><i class="fa fa-print"></i>&nbsp;인쇄</button>
											<button class="btn btn-default" type="button" onclick="getDetailInfo();"><i class="fa fa-undo"></i>&nbsp;초기화</button>
											<button class="btn btn-warning" type="button" onclick="getDetailInfo();">도움말</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-container mb-1">
			        <ul class="nav nav-tabs" role="tablist" id="ramsTab">
			            <li><a class="nav-link" data-toggle="tab" href="#tab-1">수익증권기본정보</a></li>
			            <li><a class="nav-link" data-toggle="tab" href="#tab-2">수익증권기타정보</a></li>
			            <li><a class="nav-link" data-toggle="tab" href="#tab-3">수익증권ELF정보</a></li>
			        </ul>
			        <div class="tab-content">
			            <div role="tabpanel" class="tab-pane " id="tab-1">
			                <div class="panel-body">
		                        <div class="col-lg-12">
		                            <div class="form-group form-inline row text-right">
										<!-- 1row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">펀드명</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">펀드영문명</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">운용사</label>
											<div class="col-sm-3 input-group">
										        <input type="text" class="form-control">
										    </div>
										</div>
										<!-- 2row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">판매일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label">최초설정일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label">모집일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
										<!-- 3row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">차기결산일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label">추가설정유형</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										    <label class="col-sm-1 col-form-label">상품유형</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 4row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">펀드유형</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">판매방식</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label">수수료징수시기</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 5row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">운용특성</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">모집방식</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">투자지역</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 6row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">운용전략</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										    <label class="col-sm-1 col-form-label">위험등급</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">판매사보수율</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 7row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">분리과세가능여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										    <label class="col-sm-1 col-form-label">운용사보수율</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label pd-lr10">퇴직연금전용<br class="br-mo">펀드여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										</div>
										<!-- 8row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">관련사통합보수율</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										    <label class="col-sm-1 col-form-label">개인개설가능여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
											<label class="col-sm-1 col-form-label">보험연계펀드여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										</div>
										<!-- 9row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">법인개설가능여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										    <label class="col-sm-1 col-form-label">원금보전여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
											<label class="col-sm-1 col-form-label ls-15">외국인개설가능여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										</div>
										<!-- 10row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label ls-15">임의식개설가능여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										    <label class="col-sm-1 col-form-label">ELS여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
											<label class="col-sm-1 col-form-label ls-15">거치식개설가능여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										</div>
										<!-- 11row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label ls-15">분배금지급펀드여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										    <label class="col-sm-1 col-form-label ls-15">적립식개설가능여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
											<label class="col-sm-1 col-form-label">폐쇄여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										</div>
										<!-- 12row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label pd-lr10">증권선물거래<br class="br-mo">영업일적용여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-2 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-3 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
										    <label class="col-sm-1 col-form-label">환매 제한기간월수</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">목표수익률</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 13row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">보수계산기간월수</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										    <label class="col-sm-1 col-form-label pd-lr10">펀드통장표시<br class="br-mo">저축기간월수</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">개인연계펀드상품</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 14row -->
										<div class="form-group col-sm-12 mb-1">
											<label class="col-sm-1 col-form-label pd-lr10">결산주기신탁<br class="br-mo">계산기간월수</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										    <label class="col-sm-1 col-form-label">법인연계펀드상품</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">담보비율(%)</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										
									</div>
		                        </div>
			                </div>
			            </div>
			            <div role="tabpanel" class="tab-pane " id="tab-2">
			                <div class="panel-body">
			                    <div class="row">
			                        <div class="col-lg-12">
			                            <div class="ibox">
			                                <div class="ibox-content" style="border:0px;">
			                                    <div class="ibox">
			                                    	<div class="row form-group form-inline mb-1">
														<div class="ibox col-sm-12">
					                                    	<div class="ibox-title">
																<h5>▶&nbsp;판매수수료조건</h5>
															</div>
					                                        <div class="ibox-content">
					                                            <!-- row1 -->
					                                            <div class="row form-group form-inline text-right mb-1">
					                                                <div class="col-sm-12">
					                                                	<div class="tableFixHeader4">
						                                                    <table class="table table-bordered table-hover result">
						                                                        <colgroup>
						                                                            <col>
						                                                            <col>
						                                                            <col>
						                                                            <col>
						                                                            <col>
						                                                            <col>
						                                                        </colgroup>
						                                                        <thead class="text-center">
						                                                            <tr>
						                                                                <th colspan="3">판매수수료 시작기간</th>
						                                                                <th colspan="3">판매수수료 종료기간</th>
						                                                                <th>수수료징수방법</th>
						                                                                <th>수수료기준금액구분</th>
						                                                                <th>정액수수료율</th>
						                                                                <th>정률수수료율</th>
						                                                            </tr>
						                                                        </thead>
						                                                        <tbody id="TB07060S_excList">
						                                                            <tr>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                            </tr>
						                                                        </tbody>
						                                                    </table>
					                                                    </div>
					                                                </div>
					                                            </div>
					                                        </div>
				                                        </div>
			                                        </div>
			                                    </div>
			                                    
			                                    <div class="ibox">
			                                    	<div class="row form-group form-inline mb-1">
														<div class="ibox col-sm-12">
					                                    	<div class="ibox-title">
																<h5>▶&nbsp;금액조건</h5>
															</div>
					                                        <div class="ibox-content">
					                                            <!-- row1 -->
					                                            <div class="row form-group form-inline text-right mb-1">
					                                                <div class="col-sm-12">
					                                                	<div class="tableFixHeader4">
						                                                    <table class="table table-bordered table-hover result">
						                                                        <colgroup>
						                                                            <col style="width: 10%;">
						                                                            <col>
						                                                            <col>
						                                                            <col>
						                                                            <col>
						                                                            <col>
						                                                            <col>
						                                                        </colgroup>
						                                                        <thead class="text-center">
						                                                            <tr>
						                                                            	<th rowspan="2">수익증권저축구분</th>
						                                                                <th colspan="3">수탁금액</th>
						                                                                <th colspan="3">입금금액</th>
						                                                            </tr>
						                                                            <tr>
						                                                                <th>최소</th>
						                                                                <th>최대</th>
						                                                                <th>단위</th>
						                                                                <th>최소</th>
						                                                                <th>최대</th>
						                                                                <th>단위</th>
						                                                            </tr>
						                                                        </thead>
						                                                        <tbody id="TB07060S_excList">
						                                                            <tr>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                                <td></td>
						                                                            </tr>
						                                                        </tbody>
						                                                    </table>
					                                                    </div>
					                                                </div>
					                                            </div>
					                                        </div>
				                                        </div>
			                                        </div>
			                                    </div>
			                                    
			                                    <div class="ibox">
		                                            <div class="row form-group form-inline mb-1">
														<div class="ibox col-sm-6">
															<div class="ibox-title">
																<h5>▶&nbsp;판매수수료조건</h5>
															</div>
															<div class="ibox-content">
																<div class="tableFixHeader">
																	<table class="table result table-bordered">
																		<colgroup>
																			<col>
																			<col>
																			<col>
																			<col>
																		</colgroup>
																		<thead>
																			<tr>
																				<th>수수료징수방법</th>
																				<th>수수료징수시기구분</th>
																				<th>정액수수료율</th>
																				<th>정률수수료율</th>
																			</tr>
																		</thead>
																		<tbody id="AS04110S_MMBRList">
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
														<div class="ibox col-sm-6">
															<div class="ibox-title">
																<h5>▶&nbsp;세금우대</h5>
															</div>
															<div class="ibox-content">
																<div class="tableFixHeader">
																	<table class="table result table-bordered">
																		<colgroup>
																			<col>
																			<col>
																		</colgroup>
																		<thead>
																			<tr>
																				<th>세금우대코드</th>
																				<th>세금우대명</th>
																			</tr>
																		</thead>
																		<tbody id="AS04110_fileList">
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
		                                            </div>
			                                    </div>
			                                    
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            
			            <div role="tabpanel" class="tab-pane " id="tab-3">
			                <div class="panel-body">
		                        <div class="col-lg-12">
		                            <div class="form-group form-inline row text-right">
										<!-- 1row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">조기상환확정여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-5 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-6 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
											<label class="col-sm-1 col-form-label">KNOCK-IN여부</label>
											<div class="col-sm-3 input-group input-h">
												<div class="col-sm-5 text-left input-group">
													<input type="radio" value="Y" name="TB06010S_socYn">&nbsp;예
												</div>
												<div class="col-sm-6 text-left input-group">
													<input type="radio" value="N" name="TB06010S_socYn">&nbsp;아니오
												</div>
											</div>
											<label class="col-sm-1 col-form-label">기초자산종목명1</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 2row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">기초자산종목명2</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label ls-6">기준주가평가일자1</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label">KNOCK-IN주가1</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 3row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label ls-6">기준주가평가일자2</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label ls-6">KNOCK-IN주가2</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label ls-6">기준주가평가일자3</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
										<!-- 4row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">제시수익률</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label ls-6">기준주가1</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">기준주가2</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 5row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">1차조기상환일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label pd-lr10">1차조기상환<br class="br-mo">평가일자1</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label pd-lr10">1차조기상환<br class="br-mo">평가일자2</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
										<!-- 6row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label pd-lr10">1차조기상환<br class="br-mo">평가일자3</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										    <label class="col-sm-1 col-form-label">1차조기상환주가1</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">1차조기상환주가2</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 7row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">2차조기상환일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										    <label class="col-sm-1 col-form-label pd-lr10">2차조기상환<br class="br-mo">평가일자1</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label pd-lr10">2차조기상환<br class="br-mo">평가일자2</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
										<!-- 8row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label pd-lr10">2차조기상환<br class="br-mo">평가일자3</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										    <label class="col-sm-1 col-form-label">2차조기상환주가1</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">2차조기상환주가2</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 9row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">3차조기상환일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										    <label class="col-sm-1 col-form-label pd-lr10">2차조기상환<br class="br-mo">평가일자1</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label pd-lr10">2차조기상환<br class="br-mo">평가일자2</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
										<!-- 10row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label pd-lr10">3차조기상환<br class="br-mo">평가일자3</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										    <label class="col-sm-1 col-form-label">3차조기상환주가1</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">3차조기상환주가2</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										<!-- 11row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label">4차조기상환일자</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										    <label class="col-sm-1 col-form-label pd-lr10">4차조기상환<br class="br-mo">평가일자1</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<label class="col-sm-1 col-form-label pd-lr10">4차조기상환<br class="br-mo">평가일자2</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
										<!-- 12row -->
										<div class="form-group col-sm-12 mb-2">
											<label class="col-sm-1 col-form-label pd-lr10">4차조기상환<br class="br-mo">평가일자3</label>
											<div class="col-sm-3 input-group date">
												<input type="text" class="form-control" id="tab1_datepicker1" value="" placeholder="yyyy-mm-dd" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										    <label class="col-sm-1 col-form-label">4차조기상환주가1</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
											<label class="col-sm-1 col-form-label">4차조기상환주가2</label>
											<div class="col-sm-3 input-group">
												<input type="text" class="form-control">
											</div>
										</div>
										
									</div>
		                        </div>
			                </div>
			            </div>
			            
			        </div>
			    </div>
				
			</div>
		</div><!-- div row -->
	</div>
</th:block>

</html>